force-app/main/default/flows/AL_Case_Confirmation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailAlert_StadswonenCaseConfirmation</name>
        <label>Stadswonen Case Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Stadswonen_Case_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Assign_FlowFaultEventEmailAlert_StadswonenCaseConfirmation</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Stadswonen_Case_Confirmation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EmailAlert_WoonstadCaseConfirmation</name>
        <label>Woonstad Case Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Woonstad_Case_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Assign_FlowFaultEventEmailAlert_WoonstadCaseConfirmation</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Woonstad_Case_Confirmation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the variabels for the Flow Fault Event.</description>
        <name>Assign_FlowFaultEvent10OrMoreEmailMessages</name>
        <label>Flow Fault Event - 10 Or More Email Messages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outcome_10_Or_More_Email_Messages</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarT_FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Er zijn 10 of meer zaken aangemaakt vanaf het e-mailadres gerelateerd aan deze zaak: {!varR_Case.Id}. Controleer wat er is gebeurt en ruim zo nodig de zaken op. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the variabels for the Flow Fault Event.</description>
        <name>Assign_FlowFaultEventEmailAlert_StadswonenCaseConfirmation</name>
        <label>Flow Fault Event - EmailAlert_StadswonenCaseConfirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EmailAlert_StadswonenCaseConfirmation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarT_FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the variabels for the Flow Fault Event.</description>
        <name>Assign_FlowFaultEventEmailAlert_WoonstadCaseConfirmation</name>
        <label>Flow Fault Event - EmailAlert_WoonstadCaseConfirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EmailAlert_WoonstadCaseConfirmation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarT_FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the variabels for the Flow Fault Event.</description>
        <name>Assign_FlowFaultEventGet_EmailMessages</name>
        <label>Flow Fault Event - Get_EmailMessages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_EmailMessages</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarT_FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count how many email messages are found in Get Email Message</description>
        <name>Count_Email_Messages</name>
        <label>Count Email Messages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varN_Count_Email_Messages</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_EmailMessages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECISION_How_Many_Emails_Received_Last_5_Minutes_From_Sender</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>We only want to send case confirmation for cases with origin email.</description>
        <name>Case_Origin</name>
        <label>Case Origin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EmailMessages</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there are more than 10 email messages sent from the same email address in 5 minutes time it&apos;s sucpicious. So we don&apos;t send a new email confirmation.</description>
        <name>DECISION_How_Many_Emails_Received_Last_5_Minutes_From_Sender</name>
        <label>How Many Emails Received Last 5 Minutes From Sender</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Undefined</defaultConnectorLabel>
        <rules>
            <name>Outcome_Less_than_10_Email_Messages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_Count_Email_Messages</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Which_Email_Address</targetReference>
            </connector>
            <label>Less than 10 Email Messages</label>
        </rules>
        <rules>
            <name>Outcome_10_Or_More_Email_Messages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_Count_Email_Messages</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FlowFaultEvent10OrMoreEmailMessages</targetReference>
            </connector>
            <label>10 Or More Email Messages</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine based on owner, because label is not set yet.</description>
        <name>Decision_Which_Email_Address</name>
        <label>Which Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Undefined</defaultConnectorLabel>
        <rules>
            <name>Outcome_Label_Woonstad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Woonstad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAlert_WoonstadCaseConfirmation</targetReference>
            </connector>
            <label>Woonstad</label>
        </rules>
        <rules>
            <name>Outcome_Label_Stadswonen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stadswonen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAlert_StadswonenCaseConfirmation</targetReference>
            </connector>
            <label>Stadswonen</label>
        </rules>
    </decisions>
    <description>This Flow sends the email confirmation instead of the auto-response rule, because we want the email send from the email-to-case address.</description>
    <environments>Default</environments>
    <formulas>
        <name>for_5_Minutes_Ago_From_Now</name>
        <dataType>DateTime</dataType>
        <expression>/* -1 is one day. seperated by 24 hours and 60 minutes, multiple 5 minutes */ 
NOW() - ((1 / 24 / 60) * 5)</expression>
    </formulas>
    <interviewLabel>AL - Case Confirmation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Case Confirmation Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To prevent that we will be in a loop with an auto reply mailbox we check if the from mail already have sent 10 emails in the last 5 minutes.</description>
        <name>Get_EmailMessages</name>
        <label>Email Messages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Email_Messages</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_FlowFaultEventGet_EmailMessages</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FromAddress</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Case.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>for_5_Minutes_Ago_From_Now</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Origin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>VarT_FlowFaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Case_Confirmation_Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varN_Count_Email_Messages</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varR_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Fault message.</description>
        <name>VarT_FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
