force-app/main/default/flows/AL_Determine_Account_Label_Based_On_Contract_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the Account Label based on the corresponding Contract Party.</description>
        <name>Assign_AccountLabelStadswonen</name>
        <label>Account Label - Stadswonen</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stadswonen</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Account Label based on the corresponding Contract Party.</description>
        <name>Assign_AccountLabelWoonstad</name>
        <label>Account Label - Woonstad</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Woonstad</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Account Label based on the corresponding Contract Party.</description>
        <name>Assign_AccountLabelWoonstadStadswonen</name>
        <label>Account Label - Woonstad &amp; Stadswonen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Woonstad &amp; Stadswonen</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Trim the Contract Party value using a formula.</description>
        <name>Assign_Trimmed_Label_Value</name>
        <label>Assign Trimmed Label Value</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varT_TrimmedContractPartyNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_TrimmedContractParty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contract_Roles_For_Contract_Party</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Account&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_Account</name>
        <label>VarT_FlowElement - Get_Account</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_ContractRoles&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_ContractRoles</name>
        <label>VarT_FlowElement - Get_ContractRoles</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_ContractRoles</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Update_Account&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Update_Account</name>
        <label>VarT_FlowElement - Update_Account</label>
        <locationX>1106</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Based on the trimmed Contract Party value, determine which label will be displayed on the Account page.</description>
        <name>Determine_Account_Label_Based_On_Contract_Parties</name>
        <label>Determine Account Label Based On Contract Parties</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Woonstad_Stadswonen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_TrimmedContractPartyNameList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Woonstad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_TrimmedContractPartyNameList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Stadswonen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountLabelWoonstadStadswonen</targetReference>
            </connector>
            <label>Woonstad &amp; Stadswonen</label>
        </rules>
        <rules>
            <name>Woonstad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_TrimmedContractPartyNameList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Woonstad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountLabelWoonstad</targetReference>
            </connector>
            <label>Woonstad</label>
        </rules>
        <rules>
            <name>Stadswonen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_TrimmedContractPartyNameList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Stadswonen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountLabelStadswonen</targetReference>
            </connector>
            <label>Stadswonen</label>
        </rules>
    </decisions>
    <description>Determine the Label of the Account based on the Contract Party field on Contract Role, that originates from the Real Estate Contract.</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_TrimmedContractParty</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_Through_Contract_Roles_For_Contract_Party.Real_Estate_Contract__r.Contract_Party__r.Name}, FIND(&quot; &quot;, {!Loop_Through_Contract_Roles_For_Contract_Party.Real_Estate_Contract__r.Contract_Party__r.Name}) - 1)</expression>
    </formulas>
    <interviewLabel>AL - Determine Account Label Based On Contract Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Determine Account Label Based On Contract Role</label>
    <loops>
        <description>For each of the Contract Roles that were queried, trim the Contract Party value down to either &quot;Woonstad&quot; or &quot;Stadswonen&quot;.</description>
        <name>Loop_Through_Contract_Roles_For_Contract_Party</name>
        <label>Loop Through Contract Roles For Contract Party</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_ContractRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Trimmed_Label_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Determine_Account_Label_Based_On_Contract_Parties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Account based on the varT_AccountId passed as input in the flow.</description>
        <name>Get_Account</name>
        <label>Account</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContractRoles</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve other Contract Roles from the Account of the Contract Role that triggered the flow.</description>
        <name>Get_ContractRoles</name>
        <label>Contract Roles</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contract_Roles_For_Contract_Party</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_ContractRoles</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Account Label based on the corresponding Contract Party.</description>
        <name>Update_Account</name>
        <label>Account</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <faultConnector>
            <targetReference>VarT_FlowElement_Update_Account</targetReference>
        </faultConnector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>1106</locationX>
        <locationY>1166</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Determine_Account_Label_Based_On_Contract_Role</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>varT_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varT_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_TrimmedContractPartyNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
