force-app/main/default/flows/AL_Determine_Email_to_Case_Label.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the Stadswonen Value to the Label of the Case record variable.</description>
        <name>Assign_The_Stadswonen_Value</name>
        <label>Assign The Stadswonen Value</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varR_Case.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stadswonen</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Woonstad Value to the Label of the Case record variable.</description>
        <name>Assign_The_Woonstad_Value</name>
        <label>Assign The Woonstad Value</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varR_Case.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Woonstad</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_EmailMessage&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElement_Get_EmailMessage</name>
        <label>VarT_FlowElement - Get_EmailMessage</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_EmailMessage</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Update_Case&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementUpdate_Case</name>
        <label>VarT_FlowElement - Update_Case</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>What was the Case Origin. If Email, the Case Label could be determined based on the To Address of the related Email Message.</description>
        <name>Case_Origin</name>
        <label>Case Origin</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EmailMessage</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Case label Woonstad/Stadswonen or is it Unknown?</description>
        <name>Is_Case_Label_Known</name>
        <label>Is Case Label Known?</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Known</defaultConnectorLabel>
        <rules>
            <name>Unknown</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_Case.Label__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Case_Origin</targetReference>
            </connector>
            <label>Unknown</label>
        </rules>
    </decisions>
    <decisions>
        <description>What is the To Address of the related Email Message?</description>
        <name>What_Is_The_Email_To_Address</name>
        <label>What Is The Email To Address</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>Woonstad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EmailMessage.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>woonstad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Woonstad_Value</targetReference>
            </connector>
            <label>Woonstad</label>
        </rules>
        <rules>
            <name>Stadswonen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EmailMessage.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>stadswonen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Stadswonen_Value</targetReference>
            </connector>
            <label>Stadswonen</label>
        </rules>
    </decisions>
    <description>Determine the Case label with Case Origin Email based on the To Address</description>
    <environments>Default</environments>
    <interviewLabel>AL - Determine Email-to-Case Label {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Determine Email-to-Case Label</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Email Message that created the Case.</description>
        <name>Get_EmailMessage</name>
        <label>Email Message</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Is_The_Email_To_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElement_Get_EmailMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Case label.</description>
        <name>Update_Case</name>
        <label>Case</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementUpdate_Case</targetReference>
        </faultConnector>
        <inputReference>varR_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Case_Label_Known</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Determine_Email_to_Case_Label</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varR_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
