force-app/main/default/flows/AL_Determine_Account_Type_Based_On_Contract_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Account Type To &apos;Account Without Contract&apos;.</description>
        <name>Assign_AccountTypeAccountWithoutContract</name>
        <label>Account Type - Account Without Contract</label>
        <locationX>1370</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account without contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Account Type To Co-tenant.</description>
        <name>Assign_AccountTypeCotenant</name>
        <label>Account Type - Co-tenant</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Co-tenant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Account Type To Former Tenant.</description>
        <name>Assign_AccountTypeFormerTenant</name>
        <label>Account Type - Former Tenant</label>
        <locationX>842</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Former Tenant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Account Type To Owner.</description>
        <name>Assign_AccountTypeOwner</name>
        <label>Account Type - Owner</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Account Type To Payer.</description>
        <name>Assign_AccountTypePayer</name>
        <label>Account Type - Payer</label>
        <locationX>1106</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Account Type To Tenant.</description>
        <name>Assign_AccountTypeTenant</name>
        <label>Account Type - Tenant</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tenant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the value to a variable.</description>
        <name>Assign_Co_Tenant_Value</name>
        <label>Assign Co-Tenant Value</label>
        <locationX>1590</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varB_CoTenant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Through_Contract_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the value to a variable.</description>
        <name>Assign_Former_Tenant_Value</name>
        <label>Assign Former Tenant Value</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varB_FormerTenant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Through_Contract_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the value to a variable.</description>
        <name>Assign_Owner_Value</name>
        <label>Assign Owner Value</label>
        <locationX>1326</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varB_Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Through_Contract_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the value to a variable.</description>
        <name>Assign_Payer_Value</name>
        <label>Assign Payer Value</label>
        <locationX>1854</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varB_Payer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Through_Contract_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the value to a variable.</description>
        <name>Assign_Tenant_Value</name>
        <label>Assign Tenant Value</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varB_Tenant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Through_Contract_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Account&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_Account</name>
        <label>VarT_FlowElement - Get_Account</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_ContractRoles&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_ContractRoles</name>
        <label>VarT_FlowElement - Get_ContractRoles</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_ContractRoles</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Update_Account&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementUpdate_Account</name>
        <label>VarT_FlowElement - Update_Account</label>
        <locationX>1634</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the Account has been identified as an Owner, that Account Type value should be prioritized. After that, in order, are Tenant, Co-Tenant, Former Tenant and Payer should be used as Account Type. If none of the booleon variables are true, the Account Type should be set to Account without contract.</description>
        <name>What_Type_Of_Account</name>
        <label>What Type Of Account</label>
        <locationX>710</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Assign_AccountTypeAccountWithoutContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Is_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountTypeOwner</targetReference>
            </connector>
            <label>Is Owner</label>
        </rules>
        <rules>
            <name>Is_Tenant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_Tenant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountTypeTenant</targetReference>
            </connector>
            <label>Is Tenant</label>
        </rules>
        <rules>
            <name>Is_Co_Tenant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_CoTenant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountTypeCotenant</targetReference>
            </connector>
            <label>Is Co-Tenant</label>
        </rules>
        <rules>
            <name>Is_Former_Tenant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_FormerTenant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountTypeFormerTenant</targetReference>
            </connector>
            <label>Is Former Tenant</label>
        </rules>
        <rules>
            <name>Is_Payer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_Payer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountTypePayer</targetReference>
            </connector>
            <label>Is Payer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine what is the type of Contract Contact Role that is found in the collection variable.</description>
        <name>What_Type_Of_Contract_Contact_Role_Is_Found</name>
        <label>What Type Of Contract Contact Role Is Found?</label>
        <locationX>1458</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Search_Through_Contract_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Tenant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HUU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tenant_Value</targetReference>
            </connector>
            <label>Tenant</label>
        </rules>
        <rules>
            <name>Former_Tenant</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HUU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MDH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Former_Tenant_Value</targetReference>
            </connector>
            <label>Former Tenant</label>
        </rules>
        <rules>
            <name>Owner</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EIG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_Value</targetReference>
            </connector>
            <label>Owner</label>
        </rules>
        <rules>
            <name>Co_Tenant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MDH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Co_Tenant_Value</targetReference>
            </connector>
            <label>Co-Tenant</label>
        </rules>
        <rules>
            <name>Payer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BET</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_Through_Contract_Contact_Roles.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payer_Value</targetReference>
            </connector>
            <label>Payer</label>
        </rules>
    </decisions>
    <description>What Account Type does the Account have based on its Contract Roles.</description>
    <environments>Default</environments>
    <interviewLabel>AL - Determine Account Type Based On Contract Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Determine Account Type Based On Contract Role</label>
    <loops>
        <description>Search through the Contract Contact Role collection variable to find tenants and owners.</description>
        <name>Search_Through_Contract_Contact_Roles</name>
        <label>Search Through Contract Contact Roles</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_ContractRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Type_Of_Contract_Contact_Role_Is_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>What_Type_Of_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Account</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContractRoles</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve all Contract Contact Roles that are related to the Account of the triggering Contract Contact Role.</description>
        <name>Get_ContractRoles</name>
        <label>Contract Roles</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Through_Contract_Contact_Roles</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_ContractRoles</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Account (Type field).</description>
        <name>Update_Account</name>
        <label>Account</label>
        <locationX>710</locationX>
        <locationY>1142</locationY>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementUpdate_Account</targetReference>
        </faultConnector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>1634</locationX>
        <locationY>1358</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Determine_Account_Type_Based_On_Contract_Role</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>varT_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varB_CoTenant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_FormerTenant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_Owner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_Payer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_Tenant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varT_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
