force-app/main/default/flows/AL_Keyword_Search_in_Database.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Action to search on the individual contact based on entry criteria in the keyword search of the flows</description>
        <name>Lookup_Person</name>
        <label>Lookup Person</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <actionName>findMatchingIndividuals</actionName>
        <actionType>findMatchingIndividuals</actionType>
        <connector>
            <targetReference>Count_Search_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchTerm</name>
            <value>
                <stringValue>{!varT_KeywordSearch}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>searchFields</name>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>searchObject</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <nameSegment>findMatchingIndividuals</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assignment to a number variable to count the number of person accounts found based on the search criteria</description>
        <name>Count_Search_Records</name>
        <label>Count Search Records</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varN_ContactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Lookup_Person.contactIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ensure that the &apos;NoResultsFlag&apos; is not marked in order to show correct elements in main flows.</description>
        <name>Flag_No_Results_To_False</name>
        <label>Flag No Results To False</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varB_NoResultsFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ensure that the &apos;NoResultsFlag&apos; is marked in order to show correct elements in main flows and to empty the collection variable with found persons of previous try to null value.</description>
        <name>Flag_No_Results_To_True</name>
        <label>Flag No Results To True</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varB_NoResultsFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_FoundPersonAccounts</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Are there any search results based on the search criteria?</description>
        <name>Check_Results</name>
        <label>Check Results</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Flag_No_Results_To_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Results Found</defaultConnectorLabel>
        <rules>
            <name>Results_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_ContactCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_No_Results_To_False</targetReference>
            </connector>
            <label>Results Found</label>
        </rules>
    </decisions>
    <description>Finds contacts based on text search</description>
    <environments>Default</environments>
    <interviewLabel>AL - Keyword Search in Database {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Keyword Search in Database</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the records of the found contacts in earlier stage</description>
        <name>Get_Accounts</name>
        <label>Accounts</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>Publish_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>Lookup_Person.contactIds</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varR_FoundPersonAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>Full_Account_Name__c</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>Initials__pc</queriedFields>
        <queriedFields>Full_Shipping_Street__c</queriedFields>
        <queriedFields>Full_Shipping_Postal_Code__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Person</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish flow fault event</description>
        <name>Publish_Fault</name>
        <label>Publish Fault</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Keyword_Search_in_Database</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <stringValue>Get_Accounts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varB_NoResultsFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varN_ContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varR_FoundPersonAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varT_KeywordSearch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
