force-app/main/default/flows/AL_Knowledge_Update_Knowledge_Approval_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Publish the Knowledge article</description>
        <name>Action_PublishKnowledgeArticle</name>
        <label>Publish Knowledge Article</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>publishKnowledgeArticles</actionName>
        <actionType>publishKnowledgeArticles</actionType>
        <faultConnector>
            <targetReference>VarT_FlowElement_Action_PublishKnowledgeArticle</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>recordIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pubAction</name>
            <value>
                <stringValue>PUBLISH_ARTICLE_NEW_VERSION</stringValue>
            </value>
        </inputParameters>
        <nameSegment>publishKnowledgeArticles</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the recordId because the Publish Knowledge Articles Action requires a collection variable</description>
        <name>Assign_To_Collection_Variable</name>
        <label>Assign To Collection Variable</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>recordIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_PublishKnowledgeArticle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Action_PublishKnowledgeArticle&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Action_PublishKnowledgeArticle</name>
        <label>VarT_FlowElement - Action_PublishKnowledgeArticle</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Action_PublishKnowledgeArticle</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <description>Update the status of the Knowledge article following the approval</description>
    <environments>Default</environments>
    <interviewLabel>AL - Knowledge - Update Knowledge Approval Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Knowledge - Update Knowledge Approval Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_To_Collection_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Knowledge_Update_Knowledge_Approval_Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
