force-app/main/default/flows/AL_Knowledge_Notify_Knowledge_Owner_Upon_Approval_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notify Knowledge Article owners</description>
        <name>Notify_Owners</name>
        <label>Notify Owners</label>
        <locationX>490</locationX>
        <locationY>950</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_CustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varT_RecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Er staat een kennisartikel ter beoordeling klaar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Beoordeel de nieuwe versie van dit kennisartikel: {!Get_KnowledgeArticle.Title}.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the Group members to a list</description>
        <name>Assign_Queue_Members_To_List</name>
        <label>Assign Queue Members To List</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varT_RecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Queue_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the User to a list</description>
        <name>Assign_User_To_List</name>
        <label>Assign User To List</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varT_RecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_KnowledgeArticle.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CustomNotificationType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_CustomNotificationType&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_CustomNotificationType</name>
        <label>VarT_FlowElement - Get_CustomNotificationType</label>
        <locationX>1194</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_CustomNotificationType</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_KnowledgeArticle&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_KnowledgeArticle</name>
        <label>VarT_FlowElement - Get_KnowledgeArticle</label>
        <locationX>1458</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_KnowledgeArticle</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_QueueMembers&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_QueueMembers</name>
        <label>VarT_FlowElement - Get_QueueMembers</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_QueueMembers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if the approver is a User or a Queue</description>
        <name>User_Or_Queue_Approver</name>
        <label>User Or Queue Approver</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_KnowledgeArticle.Owner:User.Username</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_User_To_List</targetReference>
            </connector>
            <label>User</label>
        </rules>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_KnowledgeArticle.Owner:Group.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_QueueMembers</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <description>Notify the owner of the Knowledge article that a new approval is requested</description>
    <environments>Default</environments>
    <interviewLabel>AL - Knowledge - Notify Knowledge Owner Upon Approval Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Knowledge - Notify Knowledge Owner Upon Approval Evaluation</label>
    <loops>
        <description>Loop trough the Group Members of the Queue</description>
        <name>Loop_Queue_Members</name>
        <label>Loop Queue Members</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_QueueMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Queue_Members_To_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CustomNotificationType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve the Custom Notification Type &quot;Approval Request Notification&quot;</description>
        <name>Get_CustomNotificationType</name>
        <label>Custom Notification Type</label>
        <locationX>490</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Owners</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_CustomNotificationType</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval_Request_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Knowledge article</description>
        <name>Get_KnowledgeArticle</name>
        <label>Knowledge Article</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Or_Queue_Approver</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_KnowledgeArticle</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Group Members of the Queue</description>
        <name>Get_QueueMembers</name>
        <label>Queue Members</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Queue_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_QueueMembers</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_KnowledgeArticle.Owner:Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_KnowledgeArticle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>1194</locationX>
        <locationY>1058</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Knowledge_Notify_Knowledge_Owner_Upon_Approval_Evaluation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_RecipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
