force-app/main/default/flows/AL_Knowledge_Determine_Approver_Value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Assign the QueueApprover to the Approver variable</description>
        <name>Assign_QueueApprover</name>
        <label>Assign QueueApprover</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Review_User_Record.Username</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign the UserApprover to the Approver variable</description>
        <name>Assign_UserApprover</name>
        <label>Assign UserApprover</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserApprover</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determine which value is not empty</description>
        <name>Determine_Approver_Value</name>
        <label>Determine Approver Value</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Approver_Was_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserApprover</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_UserApprover</targetReference>
            </connector>
            <label>Approver Was User</label>
        </rules>
        <rules>
            <name>Approver_Was_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueApprover</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approval_Work_Item_for_Reviewer</targetReference>
            </connector>
            <label>Approver Was Queue</label>
        </rules>
    </decisions>
    <description>Which type of approver was used</description>
    <environments>Default</environments>
    <interviewLabel>AL - Knowledge - Determine Approver Value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Knowledge - Determine Approver Value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve the Approval Work Item of the Knowledge article to determine the Reviewer</description>
        <name>Get_Approval_Work_Item_for_Reviewer</name>
        <label>Get Approval Work Item for Reviewer</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Review_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ApprovalWorkItem</object>
        <outputAssignments>
            <assignToReference>varT_ReviewedById</assignToReference>
            <field>ReviewedById__NotFound</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get the reviewer&apos;s User record to determine the Username</description>
        <name>Get_Review_User_Record</name>
        <label>Get Review User Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_QueueApprover</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_ReviewedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Approver_Value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ReviewedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
