force-app/main/default/flows/AL_Knowledge_Update_Knowledge_Approval_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Publish the Knowledge article</description>
        <name>Publish_Knowledge_Article</name>
        <label>Publish Knowledge Article</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>publishKnowledgeArticles</actionName>
        <actionType>publishKnowledgeArticles</actionType>
        <connector>
            <targetReference>Knowledge</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>recordIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pubAction</name>
            <value>
                <stringValue>PUBLISH_ARTICLE_NEW_VERSION</stringValue>
            </value>
        </inputParameters>
        <nameSegment>publishKnowledgeArticles</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Assign the recordId because the Publish Knowledge Articles Action requires a collection variable</description>
        <name>Assign_To_Collection_Variable</name>
        <label>Assign To Collection Variable</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>recordIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Knowledge_Article</targetReference>
        </connector>
    </assignments>
    <description>Update the status of the Knowledge article following the approval</description>
    <environments>Default</environments>
    <interviewLabel>AL - Knowledge - Update Knowledge Approval Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Knowledge - Update Knowledge Approval Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Knowledge</name>
        <label>Knowledge</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ValidationStatus</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <object>Knowledge__kav</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_To_Collection_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
