force-app/main/default/flows/AL_Reassign_Case_To_Previous_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Stadswonen Queue as Case Owner.</description>
        <name>Assign_CaseOwnerStadswonenQueue</name>
        <label>Case Owner - Stadswonen Queue</label>
        <locationX>578</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>varR_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QueueStadswonen.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Woonstad Queue as Case Owner.</description>
        <name>Assign_CaseOwnerWoonstadQueue</name>
        <label>Case Owner - Woonstad Queue</label>
        <locationX>50</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>varR_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QueueWoonstad.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_CaseHistory&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElement_Get_CaseHistory</name>
        <label>VarT_FlowElement - Get_CaseHistory</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_CaseHistory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_QueueStadswonen&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElement_Get_QueueStadswonen</name>
        <label>VarT_FlowElement - Get_QueueStadswonen</label>
        <locationX>842</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_QueueStadswonen</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_QueueWoonstad&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElement_Get_QueueWoonstad</name>
        <label>VarT_FlowElement - Get_QueueWoonstad</label>
        <locationX>314</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_QueueWoonstad</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Update_Case&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElement_Update_Case</name>
        <label>VarT_FlowElement - Update_Case</label>
        <locationX>1370</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We assign the Case Owner to the last known queue.</description>
        <name>Case_Owner_Previous_Queue</name>
        <label>Case Owner - Previous Queue</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varR_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Queue_Assignments.OldValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if the Case&apos;s previous Owner was a Queue. Since the collection is sorted to feed the newest record first, the last Queue that the Case was assigned to will automatically end the loop and the flow.</description>
        <name>Is_Previous_Case_Owner_A_Queue</name>
        <label>Is Previous Case Owner A Queue?</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Queue_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Old Value is User</defaultConnectorLabel>
        <rules>
            <name>Old_Value_Is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Queue_Assignments.OldValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Previous_Queue</targetReference>
            </connector>
            <label>Old Value Is Queue</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there was no Queue as a previous record owner, the Case can be assigned to a Queue based on the Case Label. If the Label is Woonstad, the Woonstad Queue is used. If the Label is Stadswonen, the Stadswonen Queue is used. If Label is null or unknown, the Woonstad Queue is also used.</description>
        <name>What_Is_The_Case_Label</name>
        <label>What Is The Case Label</label>
        <locationX>578</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_QueueWoonstad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null Or Unknown</defaultConnectorLabel>
        <rules>
            <name>Woonstad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Woonstad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QueueWoonstad</targetReference>
            </connector>
            <label>Woonstad</label>
        </rules>
        <rules>
            <name>Stadswonen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stadswonen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QueueStadswonen</targetReference>
            </connector>
            <label>Stadswonen</label>
        </rules>
    </decisions>
    <description>Reassign the Case to its previous Queue if its status has changed to a &quot;Paused&quot; value.</description>
    <environments>Default</environments>
    <interviewLabel>AL - Reassign Case To Previous Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Reassign Case To Previous Queue</label>
    <loops>
        <description>Loop through the Case&apos;s previous values to find the first re-assignment from a Queue.</description>
        <name>Get_Previous_Queue_Assignments</name>
        <label>Get Previous Queue Assignments</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_CaseHistory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Previous_Case_Owner_A_Queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>What_Is_The_Case_Label</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Case&apos;s previous values, sort to get the newest records first.</description>
        <name>Get_CaseHistory</name>
        <label>Case History</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Queue_Assignments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElement_Get_CaseHistory</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseHistory</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Stadswonen Queue</description>
        <name>Get_QueueStadswonen</name>
        <label>Queue - Stadswonen</label>
        <locationX>578</locationX>
        <locationY>908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CaseOwnerStadswonenQueue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElement_Get_QueueStadswonen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stadswonen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Woonstad Queue</description>
        <name>Get_QueueWoonstad</name>
        <label>Queue - Woonstad</label>
        <locationX>50</locationX>
        <locationY>908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CaseOwnerWoonstadQueue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElement_Get_QueueWoonstad</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Woonstad</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Case Owner.</description>
        <name>Update_Case</name>
        <label>Case</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElement_Update_Case</targetReference>
        </faultConnector>
        <inputReference>varR_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CaseHistory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>1370</locationX>
        <locationY>1514</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Reassign_Case_To_Previous_Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varR_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
