force-app/main/default/flows/AL_Send_Case_to_OKAPI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Case information to Okapi in order to follow up on case in Wocas</description>
        <name>Apex_Post_Case_to_Zaken_Invocable</name>
        <label>Post Case to Zaken Invocable</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <actionName>OkapiPostZaakInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementApex_Post_Case_to_Zaken_Invocable</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bovenliggendeZaak</name>
            <value>
                <elementReference>ZaakModel.bovenliggendeZaak</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>code</name>
            <value>
                <elementReference>varR_Case.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentIds</name>
            <value>
                <elementReference>ZaakModel.contentDocumentIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>detailSoort</name>
            <value>
                <elementReference>ZaakModel.detailSoort</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>einddatum</name>
            <value>
                <elementReference>varR_Case.ClosedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>extraAttributen</name>
            <value>
                <elementReference>CollectionExtraAttributen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idExtern</name>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPersoon</name>
            <value>
                <elementReference>varR_Case.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>omschrijving</name>
            <value>
                <elementReference>varR_Case.Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>onderwerp</name>
            <value>
                <elementReference>varR_Case.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oorsprong</name>
            <value>
                <elementReference>ZaakModel.oorsprong</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prioriteit</name>
            <value>
                <elementReference>ZaakModel.prioriteit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reden</name>
            <value>
                <elementReference>ZaakModel.reden</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registratiedatum</name>
            <value>
                <elementReference>varR_Case.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>soort</name>
            <value>
                <elementReference>ZaakModel.soort</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>ZaakModel.status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toelichting</name>
            <value>
                <elementReference>varR_Case.Comments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OkapiPostZaakInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign values of the Case to the variable with ApexDefined ZaakModel input for Invocable Apex Action Post Zaken</description>
        <name>Assign_Case_values_to_ZaakModel</name>
        <label>Assign Case values to ZaakModel</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>ZaakModel.detailSoort.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ZaakModel.bovenliggendeZaak.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ZaakModel.oorsprong.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ZaakModel.reden.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.Case_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ZaakModel.prioriteit.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ZaakModel.soort.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ZaakModel.status.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_Post_Case_to_Zaken_Invocable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to set all content documents of the collected links to a collection variable</description>
        <name>Assign_ContentDocumentId_To_Collection_Variable</name>
        <label>Assign ContentDocumentId To Collection Variable</label>
        <locationX>156</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ZaakModel.contentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Files.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Apex_Post_Case_to_Zaken_Invocable&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementApex_Post_Case_to_Zaken_Invocable</name>
        <label>VarT_FlowElement - Apex_Post_Case_to_Zaken_Invocable</label>
        <locationX>460</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apex_Post_Case_to_Zaken_Invocable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_ContentDocumentLinks&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_ContentDocumentLinks</name>
        <label>VarT_FlowElement - Get_ContentDocumentLinks</label>
        <locationX>724</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_ContentDocumentLinks</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value to the Apex defined case role variable to ExtraAttribuutModel</description>
        <name>Set_ExtraAttribuutModel</name>
        <label>Set ExtraAttribuutModel</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>ExtraAttribuutModel.naam</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>federationIdEigenaar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExtraAttribuutModel.waarde</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_CaseOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionExtraAttributen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExtraAttribuutModel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_values_to_ZaakModel</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if the case does have attached files to send with the case to Okapi</description>
        <name>Does_This_Case_Have_Attached_Files</name>
        <label>Does This Case Have Attached Files</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_ExtraAttribuutModel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Has_Attached_Files</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ContentDocumentLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Files</targetReference>
            </connector>
            <label>Yes, Case Has Attached Files</label>
        </rules>
    </decisions>
    <description>Send the Case to OKAPI</description>
    <environments>Default</environments>
    <interviewLabel>AL - Send Case to OKAPI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Send Case to OKAPI</label>
    <loops>
        <description>Loop to go through the list of ContentDocumentLinks in order to assign Content Document IDs to the list to send to Okapi</description>
        <name>Loop_Through_Files</name>
        <label>Loop Through Files</label>
        <locationX>68</locationX>
        <locationY>350</locationY>
        <collectionReference>varR_ContentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ContentDocumentId_To_Collection_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_ExtraAttribuutModel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get files of case to send to Okapi as ContactMomemt attachments</description>
        <name>Get_ContentDocumentLinks</name>
        <label>Get ContentDocumentLinks</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_This_Case_Have_Attached_Files</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_ContentDocumentLinks</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>varR_ContentDocumentLinks</outputReference>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>LinkedEntityId</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ContentDocumentLinks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>460</locationX>
        <locationY>1166</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Send_Case_to_OKAPI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CollectionExtraAttributen</name>
        <apexClass>ExtraAttribuutModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExtraAttribuutModel</name>
        <apexClass>ExtraAttribuutModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to assign Case Record ID and all values for ZaakModel variable</description>
        <name>varR_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varR_ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varT_CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varT_ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Apex-Defined with ZaakModel for correct assignment</description>
        <name>ZaakModel</name>
        <apexClass>ZaakModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
