force-app/main/default/flows/AL_Send_Future_Account_Addresses_To_OKAPI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Person_Addresses_for_Postadres</name>
        <label>Post Person Addresses for Postadres</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>OkapiPostPersonAddressesInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>adres</name>
            <value>
                <elementReference>postAdres.adres</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>begindatum</name>
            <value>
                <elementReference>postAdres.begindatum</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>einddatum</name>
            <value>
                <elementReference>postAdres.einddatum</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPersoon</name>
            <value>
                <elementReference>postAdres.idPersoon</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>soort</name>
            <value>
                <elementReference>postAdres.soort</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OkapiPostPersonAddressesInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Post_Person_Addresses_for_Woonadres</name>
        <label>Post Person Addresses for Woonadres</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>OkapiPostPersonAddressesInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>adres</name>
            <value>
                <elementReference>woonAdres.adres</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>begindatum</name>
            <value>
                <elementReference>woonAdres.begindatum</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>einddatum</name>
            <value>
                <elementReference>woonAdres.einddatum</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPersoon</name>
            <value>
                <elementReference>woonAdres.idPersoon</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>soort</name>
            <value>
                <elementReference>woonAdres.soort</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OkapiPostPersonAddressesInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set the right Billing Address/Postadres values</description>
        <name>Set_Postadres</name>
        <label>Set Postadres</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>postAdres.adres.adresregel1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.adresregel2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.antwoordnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Freepost_number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.huisletter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.House_Letter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.huisnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.House_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.huisnummerToevoeging</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.House_Number_Addition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.soort.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.straatnaam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.postcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.woonplaats</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.postbusnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.PO_Box_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.land.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.provincie.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.begindatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.einddatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.idPersoon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Account__r.UUID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Person_Addresses_for_Postadres</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the right Shipping/Postadres values</description>
        <name>Set_Woonadres</name>
        <label>Set Woonadres</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>woonAdres.adres.adresregel1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.adresregel2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.antwoordnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Freepost_number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.huisletter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.House_Letter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.huisnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.House_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.huisnummerToevoeging</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.House_Number_Addition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.soort.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.straatnaam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.postcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.woonplaats</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.postbusnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.PO_Box_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.land.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.provincie.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Address__r.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.begindatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.einddatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.idPersoon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountAddress.Account__r.UUID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Person_Addresses_for_Woonadres</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is this Account Address of type POS or WOO?</description>
        <name>Determine_If_This_Account_Address_Is_POS_Or_WOO</name>
        <label>Determine If This Account Address Is POS Or WOO</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_AccountAddress.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Postadres</targetReference>
            </connector>
            <label>POS</label>
        </rules>
        <rules>
            <name>WOO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_AccountAddress.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WOO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Woonadres</targetReference>
            </connector>
            <label>WOO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AL - Send Future Account Addresses To OKAPI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Send Future Account Addresses To OKAPI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Account Record despite the variable will be filled from RT flow (for later separate usage)</description>
        <name>Get_Account_Address_Record</name>
        <label>Get Account Address Record</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_If_This_Account_Address_Is_POS_Or_WOO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_AccountAddress.Id</elementReference>
            </value>
        </filters>
        <object>Account_Address__c</object>
        <outputReference>varR_AccountAddress</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Address__c</queriedFields>
        <queriedFields>Address_Unique_Key__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Is_Primary__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Full_Street_Name__c</queriedFields>
        <queriedFields>Full_Address__c</queriedFields>
        <queriedFields>Deduplication_Key__c</queriedFields>
        <queriedFields>Considered_as_Incorrect_Address_Change__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Address_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>postAdres</name>
        <apexClass>PersoonAdresModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_AccountAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Address__c</objectType>
    </variables>
    <variables>
        <name>woonAdres</name>
        <apexClass>PersoonAdresModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
