force-app/main/default/flows/AL_Send_Account_to_OKAPI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Use the Apex Action to send to OKAPI</description>
        <name>Apex_SendBusinessToOkapi</name>
        <label>Send Business To Okapi</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <actionName>OkapiPostPersoonInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementApex_SendBusinessToOkapi</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>betaalgegevens</name>
            <value>
                <elementReference>betaalGegevens</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>communicatievoorkeur</name>
            <value>
                <elementReference>account.communicatievoorkeur</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactgegevens</name>
            <value>
                <elementReference>accountContactGegevens</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Get_Account.UUID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idAdministratie</name>
            <value>
                <elementReference>Get_Account.Administration_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idExtern</name>
            <value>
                <elementReference>Get_Account.External_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>kvkNummer</name>
            <value>
                <elementReference>Get_Account.Chamber_Of_Commerce_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>naam</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organisatievorm</name>
            <value>
                <elementReference>accountOrganisatieVorm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postadres</name>
            <value>
                <elementReference>postAdres</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>soort</name>
            <value>
                <elementReference>accountSoort</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>woonadres</name>
            <value>
                <elementReference>woonAdres</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OkapiPostPersoonInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Use the Apex Action to send to OKAPI</description>
        <name>Apex_SendPersonToOkapi</name>
        <label>Send Person To Okapi</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <actionName>OkapiPostPersoonInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementApex_SendPersonToOkapi</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>aanhef</name>
            <value>
                <elementReference>Get_Account.Salutation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>aanschrijfnaam</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>achternaam</name>
            <value>
                <elementReference>Get_Account.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>betaalgegevens</name>
            <value>
                <elementReference>betaalGegevens</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>communicatievoorkeur</name>
            <value>
                <elementReference>account.communicatievoorkeur</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactgegevens</name>
            <value>
                <elementReference>accountContactGegevens</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>geboortedatum</name>
            <value>
                <elementReference>Get_Account.PersonBirthdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>geslacht</name>
            <value>
                <elementReference>geslacht</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Get_Account.UUID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idAdministratie</name>
            <value>
                <elementReference>Get_Account.Administration_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idExtern</name>
            <value>
                <elementReference>Get_Account.External_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialen</name>
            <value>
                <elementReference>Get_Account.Initials__pc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>naam</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>overlijdensdatum</name>
            <value>
                <elementReference>Get_Account.Death_Date__pc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postadres</name>
            <value>
                <elementReference>postAdres</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>soort</name>
            <value>
                <elementReference>accountSoort</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tussenvoegsels</name>
            <value>
                <elementReference>Get_Account.MiddleName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voornaam</name>
            <value>
                <elementReference>Get_Account.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>woonadres</name>
            <value>
                <elementReference>woonAdres</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OkapiPostPersoonInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Apex_SendBusinessToOkapi&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementApex_SendBusinessToOkapi</name>
        <label>VarT_FlowElement - Apex_SendBusinessToOkapi</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apex_SendBusinessToOkapi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Apex_SendPersonToOkapi&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementApex_SendPersonToOkapi</name>
        <label>VarT_FlowElement - Apex_SendPersonToOkapi</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apex_SendPersonToOkapi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Account&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_Account</name>
        <label>VarT_FlowElement - Get_Account</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_AccountAddressBilling&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_AccountAddressBilling</name>
        <label>VarT_FlowElement - Get_AccountAddressBilling</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_AccountAddressBilling</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_AccountAddressShipping&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_AccountAddressShipping</name>
        <label>VarT_FlowElement - Get_AccountAddressShipping</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_AccountAddressShipping</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_BankAccount&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_BankAccount</name>
        <label>VarT_FlowElement - Get_BankAccount</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_BankAccount</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Put the single value in the list</description>
        <name>Put_In_List</name>
        <label>Put In List</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>betaalGegevens</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oneBetaalGegevens</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Betaalgegevens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the right value to the Apex defined variable accountSoort</description>
        <name>Set_Account_Soort_NAT</name>
        <label>Set Account Soort NAT</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>accountSoort.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_SendPersonToOkapi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the right value to the Apex defined variable accountSoort</description>
        <name>Set_Account_Soort_REC</name>
        <label>Set Account Soort REC</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>accountSoort.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_SendBusinessToOkapi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Contactgegevens if it is a Person Account</description>
        <name>Set_Contactgegevens_Person</name>
        <label>Set Contactgegevens Person</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>accountContactGegevens.telefoonVast</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountContactGegevens.telefoonMobiel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountContactGegevens.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountContactGegevens.telefoonVoorkeur</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Preferred_Phone_Value__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.geboortedatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonBirthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.overlijdensdatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Death_Date__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.aanhef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.achternaam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.geslacht.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonGenderIdentity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.initialen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Initials__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.tussenvoegsels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.voornaam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>geslacht.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonGenderIdentity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.communicatievoorkeur.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Preferred_Communication_Channel__pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Account_Soort_NAT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Contactgegevens if it is a Business Account</description>
        <name>Set_Contactgegevens_Rechtspersoon</name>
        <label>Set Contactgegevens Rechtspersoon</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>accountContactGegevens.telefoonVast</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountContactGegevens.telefoonMobiel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountContactGegevens.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountContactGegevens.telefoonVoorkeur</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Preferred_Phone_Value__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.naam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.btwNummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.VAT_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.kvkNummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Chamber_Of_Commerce_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.communicatievoorkeur.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Preferred_Communication_Channel__pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OrganisatieVorm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value to the Apex defined Bank Account variable oneBetaalGegevens</description>
        <name>Set_One_Bank_Account</name>
        <label>Set One Bank Account</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>oneBetaalGegevens.iban</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Betaalgegevens.IBAN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneBetaalGegevens.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Betaalgegevens.External_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneBetaalGegevens.begindatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Betaalgegevens.Valid_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneBetaalGegevens.idExtern</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Betaalgegevens.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneBetaalGegevens.idAdministratie</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Betaalgegevens.Administration_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneBetaalGegevens.actief</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Betaalgegevens.Active__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneBetaalGegevens.primair</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Betaalgegevens.Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneBetaalGegevens.einddatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Betaalgegevens.Valid_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneBetaalGegevens.bic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Betaalgegevens.BIC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_In_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the right value to the Apex defined variable OrganisatieVorm</description>
        <name>Set_OrganisatieVorm</name>
        <label>Set OrganisatieVorm</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>accountOrganisatieVorm.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Organisation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Account_Soort_REC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the right Billing Address/Postadres values</description>
        <name>Set_Postadres</name>
        <label>Set Postadres</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>postAdres.adres.adresregel1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.adresregel2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.Address_Line_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.soort.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.huisletter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.House_Letter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.antwoordnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.Freepost_number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.straatnaam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.huisnummerToevoeging</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.House_Number_Addition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.huisnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.House_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.postcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.woonplaats</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.postbusnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.PO_Box_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.land.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.adres.provincie.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__r.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.begindatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AccountAddressBilling.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postAdres.einddatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AccountAddressBilling.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Woonadres</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the right Shipping/Postadres values</description>
        <name>Set_Woonadres</name>
        <label>Set Woonadres</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>woonAdres.adres.adresregel1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.adresregel2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.Address_Line_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.antwoordnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.Freepost_number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.huisletter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.House_Letter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.huisnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.House_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.huisnummerToevoeging</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.House_Number_Addition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.soort.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EEN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.land.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.postbusnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.PO_Box_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.postcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.straatnaam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.woonplaats</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.adres.provincie.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__r.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.begindatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AccountAddressShipping.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woonAdres.einddatum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AccountAddressShipping.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to the Apex defined Account variable</description>
        <name>SetAccount</name>
        <label>SetAccount</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>account.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.UUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.idExtern</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.External_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.idAdministratie</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Administration_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.soort.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.detailSoort.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Betaalgegevens</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>What account was created?</description>
        <name>Account_Type</name>
        <label>Account Type</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contactgegevens_Person</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
        <rules>
            <name>Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contactgegevens_Rechtspersoon</targetReference>
            </connector>
            <label>Business Account</label>
        </rules>
    </decisions>
    <description>Subflow used for sending the in Salesforce created or updated account to OKAPI. Two Betaalgegevens variables (Active &amp; Default) and Account Address start &amp; end date were added.</description>
    <environments>Default</environments>
    <interviewLabel>AL - Send Account to OKAPI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Send Account to OKAPI</label>
    <loops>
        <description>Loop through the Bank Account collection variable</description>
        <name>Loop_Through_Betaalgegevens</name>
        <label>Loop Through Betaalgegevens</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_BankAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_One_Bank_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Postadres</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fill the Account variable</description>
        <name>Get_Account</name>
        <label>Account</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AccountAddressBilling</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Account&apos;s Billing Account Address</description>
        <name>Get_AccountAddressBilling</name>
        <label>Account Address - Billing</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AccountAddressShipping</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_AccountAddressBilling</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Primary_Billing_Address__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Address__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Account&apos;s Shipping Account Address</description>
        <name>Get_AccountAddressShipping</name>
        <label>Account Address - Shipping</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BankAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_AccountAddressShipping</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Primary_Shipping_Address__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Address__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve all Bank Account records associated with the Account</description>
        <name>Get_BankAccount</name>
        <label>Bank Account</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_BankAccount</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bank_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>842</locationX>
        <locationY>1946</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Send_Account_to_OKAPI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>varT_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>account</name>
        <apexClass>PersoonModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountContactGegevens</name>
        <apexClass>ContactGegevensModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountOrganisatieVorm</name>
        <apexClass>ReferentieCodeModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Structure to hold account soort (ReferentieCodeModel)</description>
        <name>accountSoort</name>
        <apexClass>ReferentieCodeModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>betaalGegevens</name>
        <apexClass>BetaalgegevenModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>geslacht</name>
        <apexClass>ReferentieCodeModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oneBetaalGegevens</name>
        <apexClass>BetaalgegevenModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postAdres</name>
        <apexClass>PersoonAdresModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woonAdres</name>
        <apexClass>PersoonAdresModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
