force-app/main/default/flows/AL_Update_Person_Relation_to_OKAPI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Update Person Relation of Account Contact Relation to OKAPI</description>
        <name>Apex_SendPersonRelationOfAccountContactRelationToOKAPI</name>
        <label>Send Person Relation of Account Contact Relation to OKAPI</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>OkapiPatchPersonRelationsInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementApex_SendPersonRelationOfAccountContactRelationToOKAPI</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>begindatum</name>
            <value>
                <elementReference>varR_AccountContactRelation.StartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>einddatum</name>
            <value>
                <elementReference>varR_AccountContactRelation.EndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>varR_AccountContactRelation.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idAdministratie</name>
            <value>
                <elementReference>varR_AccountContactRelation.Administration_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idExtern</name>
            <value>
                <elementReference>varR_AccountContactRelation.External_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>persoonId</name>
            <value>
                <elementReference>varR_AccountContactRelation.Account.UUID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>persoonRol</name>
            <value>
                <elementReference>PersoonRelatie.persoonRol</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatieId</name>
            <value>
                <elementReference>varR_AccountContactRelation.Contact.Contact_UUID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OkapiPatchPersonRelationsInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Update Person Relation of Relationship to OKAPI</description>
        <name>Apex_UpdatePersonRelationOfRelationshipToOKAPI</name>
        <label>Update Person Relation of Relationship to OKAPI</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>OkapiPatchPersonRelationsInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementApex_UpdatePersonRelationOfRelationshipToOKAPI</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>begindatum</name>
            <value>
                <elementReference>varR_Relationship.Start_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>einddatum</name>
            <value>
                <elementReference>varR_Relationship.End_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>varR_Relationship.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idAdministratie</name>
            <value>
                <elementReference>varR_Relationship.Administration_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idExtern</name>
            <value>
                <elementReference>varR_Relationship.External_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>persoonId</name>
            <value>
                <elementReference>varR_Relationship.Subsidiary_Relation__r.UUID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatieId</name>
            <value>
                <elementReference>varR_Relationship.Primary_Relation__r.UUID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatieRol</name>
            <value>
                <elementReference>PersoonRelatie.relatieRol</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OkapiPatchPersonRelationsInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>The type of relation needs to be assigned to PersoonRelatieModel for Account Contact Relations.</description>
        <name>Assign_Person_Role_for_Account_Relation</name>
        <label>Assign Person Role for Account Relation</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>PersoonRelatie.persoonRol.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountContactRelation.Role_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_SendPersonRelationOfAccountContactRelationToOKAPI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The type of relation needs to be assigned to PersoonRelatieModel for Relationships.</description>
        <name>Assign_Relation_Role_for_Primary_Relation</name>
        <label>Assign Relation Role for Primary Relation</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>PersoonRelatie.relatieRol.code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Relationship.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_UpdatePersonRelationOfRelationshipToOKAPI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Apex_SendPersonRelationOfAccountContactRelationToOKAPI&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementApex_SendPersonRelationOfAccountContactRelationToOKAPI</name>
        <label>VarT_FlowElement - Apex_SendPersonRelationOfAccountContactRelationToOKAPI</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apex_SendPersonRelationOfAccountContactRelationToOKAPI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarT_TriggeringRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountContactRelation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Apex_UpdatePersonRelationOfRelationshipToOKAPI&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementApex_UpdatePersonRelationOfRelationshipToOKAPI</name>
        <label>VarT_FlowElement - Apex_UpdatePersonRelationOfRelationshipToOKAPI</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apex_UpdatePersonRelationOfRelationshipToOKAPI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarT_TriggeringRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Relationship.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is the updated Person Relation part of Relationship or Account Contact Relation?</description>
        <name>Relationship_or_Account_Contact_Relationship</name>
        <label>Relationship or Account Contact Relationship</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Relationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Relation_Role_for_Primary_Relation</targetReference>
            </connector>
            <label>Relationship</label>
        </rules>
        <rules>
            <name>Account_Contact_Relationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_AccountContactRelation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Person_Role_for_Account_Relation</targetReference>
            </connector>
            <label>Account Contact Relationship</label>
        </rules>
    </decisions>
    <description>Send the update to the Person Relation to OKAPI</description>
    <environments>Default</environments>
    <interviewLabel>AL - Update Person Relation to OKAPI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Update Person Relation to OKAPI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Relationship_or_Account_Contact_Relationship</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Update_Person_Relation_to_OKAPI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>VarT_TriggeringRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>PersoonRelatie</name>
        <apexClass>PersoonRelatieModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account Contact Relation variable for flow input</description>
        <name>varR_AccountContactRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Relationship variable for flow input</description>
        <name>varR_Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_TriggeringRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
