force-app/main/default/flows/AL_Update_Account_Preferred_Phone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assignment of preferred phone value of the Mobile or AccountPhone to the Account Record</description>
        <name>Assign_Preferred_Phone_Value_to_Account_Record</name>
        <label>Assign Preferred Phone Value to Account Record</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>varR_Account.Preferred_Phone_Value__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_PreferredPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Preferred_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the Flow Element with &apos;Upsert Case Record&apos; if the Upsert Case Record Type Element fails.</description>
        <name>Flow_Element_Update_Preferred_Phone</name>
        <label>Flow Element - Update Preferred Phone</label>
        <locationX>754</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>var_Flow_Element</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_Preferred_Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Flow_Fault_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Phone_Mobile</name>
        <label>Phone Mobile</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varT_PreferredPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.PersonMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Preferred_Phone_Value_to_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Phone_Vast</name>
        <label>Phone Vast</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varT_PreferredPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Preferred_Phone_Value_to_Account_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Either Vast or Mobiel is selected as the preferred phone number</description>
        <name>Vast_Or_Mobiel</name>
        <label>Vast Or Mobiel</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Preferred_Phone_Value_to_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Account.Preferred_Phone__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Vast</targetReference>
            </connector>
            <label>Vast</label>
        </rules>
        <rules>
            <name>Mobiel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Account.Preferred_Phone__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobiel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Mobile</targetReference>
            </connector>
            <label>Mobiel</label>
        </rules>
    </decisions>
    <description>Updates the Preferred Phone value field for the Person Account</description>
    <environments>Default</environments>
    <interviewLabel>AL - Update Account Preferred Phone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Update Account Preferred Phone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update the preferred phone value based on the decision</description>
        <name>Update_Preferred_Phone</name>
        <label>Update Preferred Phone</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <faultConnector>
            <targetReference>Flow_Element_Update_Preferred_Phone</targetReference>
        </faultConnector>
        <inputReference>varR_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Vast_Or_Mobiel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Publish_Flow_Fault_Event</name>
        <label>Publish Flow Fault Event</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>AL_Update_Account_Preferred_Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>var_Flow_Element</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>varR_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_Flow_Element</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account record variable that triggers the flow</description>
        <name>varR_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The preferred phone number variable that will update the value</description>
        <name>varT_PreferredPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
