force-app/main/default/flows/Knowledge_Article_Version_Create_Update_Archive_based_on_stated_To_be_Archived_D.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_ArchiveOnlineKnowledgeArticles</name>
        <label>Archive Online Knowledge Articles</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>archiveKnowledgeArticles</actionName>
        <actionType>archiveKnowledgeArticles</actionType>
        <faultConnector>
            <targetReference>VarT_FlowElement_Action_ArchiveOnlineKnowledgeArticles</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>varT_ArchiveKnowledgeArticleVersions</elementReference>
            </value>
        </inputParameters>
        <nameSegment>archiveKnowledgeArticles</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Article_Version_to_variable</name>
        <label>Assign Article Version to variable</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varT_ArchiveKnowledgeArticleVersions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_ArchiveOnlineKnowledgeArticles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Action_ArchiveOnlineKnowledgeArticles&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Action_ArchiveOnlineKnowledgeArticles</name>
        <label>VarT_FlowElement - Action_ArchiveOnlineKnowledgeArticles</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Action_ArchiveOnlineKnowledgeArticles</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Knowledge Article (Version) - Create/Update - Archive based on stated To be Archived Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge Article (Version) - Create/Update - Archive based on stated To be Archived Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>To_be_Archived_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Archive_Knowledge_Article_at_specified_date</name>
            <connector>
                <targetReference>Assign_Article_Version_to_variable</targetReference>
            </connector>
            <label>Archive Knowledge Article at specified date</label>
            <maxBatchSize>200</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>To_be_Archived_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>572</locationX>
        <locationY>600</locationY>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Knowledge_Article_Version_Create_Update_Archive_based_on_stated_To_be_Archived_D</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varT_ArchiveKnowledgeArticleVersions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
