force-app/main/default/flows/PET_Apex_Fault.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>The Platform Event Triggered Flow creates a &apos;Automation Log&apos; record if the Apex Fault Platform Event is created.</description>
    <environments>Default</environments>
    <interviewLabel>PET - Apex Fault {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PET - Apex Fault</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a Automation Log based on the platform event.</description>
        <name>Automation_Log</name>
        <label>Automation Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Apex_Class_Flow_Name__c</field>
            <value>
                <elementReference>$Record.Class_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apex_Function_Flow_Element__c</field>
            <value>
                <elementReference>$Record.Function_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Record.Error_Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Woonstad_System_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Record.Stack_Trace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Triggering_Record_Id__c</field>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Apex Class</stringValue>
            </value>
        </inputAssignments>
        <object>Automation_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the Woonstad System User. By using starts with operator it works in production environment and sandboxes.</description>
        <name>User_Woonstad_System_User</name>
        <label>User - Woonstad System User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Automation_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>salesforce-notificaties@woonstadrotterdam.nl</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Woonstad_System_User</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Apex_Fault__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
