force-app/main/default/flows/RT_Account_Contact_Relationship_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Does this record require submission to Okapi</description>
        <name>Should_Be_Sent_To_Okapi</name>
        <label>Should Be Sent To Okapi</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Is_Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Send_Person_Relation_To_OKAPI</targetReference>
            </connector>
            <label>Yes Send</label>
        </rules>
    </decisions>
    <description>Record-triggered flow after creation of a Account Contact Relationship record</description>
    <environments>Default</environments>
    <interviewLabel>RT - Account Contact Relationship - After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Account Contact Relationship - After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>AccountContactRelation</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Should_Be_Sent_To_Okapi</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Runs the Send Person Relation To OKAPI subflow</description>
        <name>Run_Send_Person_Relation_To_OKAPI</name>
        <label>Run Send Person Relation To OKAPI</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <flowName>AL_Send_Person_Relation_To_OKAPI</flowName>
        <inputAssignments>
            <name>varR_AccountContactRelation</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
