force-app/main/default/flows/RT_Bank_Account_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determine if the Bank Account that is changed or created is selected as the default Bank Account for the Account</description>
        <name>Is_The_Bank_Account_Selected_As_Default_For_The_Account</name>
        <label>Is The Bank Account Selected As Default For The Account?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_selected_as_default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Default__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Default_Bank_Account</targetReference>
            </connector>
            <label>Yes, selected as default</label>
        </rules>
    </decisions>
    <description>Record Triggered Flow on Bank Account to guide updates on insert and update to subflows</description>
    <environments>Default</environments>
    <interviewLabel>RT - Bank Account - After Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Bank Account - After Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_The_Bank_Account_Selected_As_Default_For_The_Account</targetReference>
        </connector>
        <object>Bank_Account__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Subflow to update the default bank account on the account record.</description>
        <name>Update_Account_Default_Bank_Account</name>
        <label>Update Account Default Bank Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>AL_Update_Account_Default_Bank_Account</flowName>
        <inputAssignments>
            <name>varR_BankAccount</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The fault message from the Flow interview</description>
        <name>varT_FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
