force-app/main/default/flows/RT_Contract_Contact_Role_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Record-Triggered Flow on Contract Contact Role to determine and display the Account Type when a triggering record is created or updated.</description>
    <environments>Default</environments>
    <interviewLabel>RT - Contract Contact Role - After Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Contract Contact Role - After Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract_Contact_Role__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Determine_The_Account_Type_Based_On_The_Contract_Role</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Based on the triggering Contract Contact Role, the Account Label of the related Account needs to be verified.</description>
        <name>Determine_The_Account_Label_Based_On_The_Contract_Role</name>
        <label>Determine The Account Label Based On The Contract Role</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <flowName>AL_Determine_Account_Label_Based_On_Contract_Role</flowName>
        <inputAssignments>
            <name>varT_AccountId</name>
            <value>
                <elementReference>$Record.Contact_Account__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Based on the triggering Contract Contact Role, the Account Type of the related Account needs to be verified.</description>
        <name>Determine_The_Account_Type_Based_On_The_Contract_Role</name>
        <label>Determine The Account Type Based On The Contract Role</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Determine_The_Account_Label_Based_On_The_Contract_Role</targetReference>
        </connector>
        <flowName>AL_Determine_Account_Type_Based_On_Contract_Role</flowName>
        <inputAssignments>
            <name>varT_AccountId</name>
            <value>
                <elementReference>$Record.Contact_Account__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
