force-app/main/default/flows/RT_Knowledge_Approval_Proces.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <description>Are the proposed changes approved or rejected?</description>
        <name>Changes_Approved</name>
        <label>Changes Approved?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Execute_Rejected_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Knowledge_Approval_By_User.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Knowledge_Approval_By_Queue.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Execute_Approval_Steps</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the owner is a User or Queue. Because you cannot query directly in the Orchestration, we determine this based on the first three characters of the ownerId.</description>
        <name>User_Or_Queue_Approval</name>
        <label>User Or Queue Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_User_Approval</targetReference>
            </connector>
            <label>User</label>
        </rules>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Queue_Approval</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RT Knowledge - Approval Proces {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT Knowledge - Approval Proces</label>
    <orchestratedStages>
        <description>Which type of approver was used</description>
        <name>Determine_Approver</name>
        <label>Determine Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Changes_Approved</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Was the approver a User or a Queue. If a Queue was used, which User from the Queue approved the Knowledge article?</description>
            <name>Determine_Which_Approver_Was_Used</name>
            <actionName>AL_Knowledge_Determine_Approver_Value</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QueueApprover</name>
                <value>
                    <elementReference>Retrieve_Approver_Name.Outputs.QueueApprover</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>UserApprover</name>
                <value>
                    <elementReference>Retrieve_Approver_Name.Outputs.UserApprover</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Determine Which Approver Was Used</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Execute_Approval_Steps</name>
        <label>Execute Approval Steps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Update the status of the Knowledge article to validated and publish the article.</description>
            <name>Update_Knowledge_Status</name>
            <actionName>AL_Knowledge_Update_Knowledge_Approval_Status</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Update Knowledge Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Execute_Rejected_Steps</name>
        <label>Execute Rejected Steps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Update the status of the Knowledge article to not validated.</description>
            <name>Update_Knowledge_Status_Rejected</name>
            <actionName>AL_Knowledge_Update_Knowledge_Approval_Status_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Update Knowledge Status - Rejected</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Preparation steps for the approval orchestration</description>
        <name>Preparation</name>
        <label>Preparation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Or_Queue_Approval</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Retrieve_Submitter_Id</name>
            <actionName>AL_Knowledge_Retrieve_Submitter_Id</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.LastModifiedBy.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Retrieve_Approver_Name.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Retrieve Submitter Id</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Retrieve the User or Queue Name of the approver</description>
            <name>Retrieve_Approver_Name</name>
            <actionName>AL_Knowledge_Retrieve_Approver_Username</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ownerId</name>
                <value>
                    <elementReference>$Record.OwnerId</elementReference>
                </value>
            </inputParameters>
            <label>Retrieve Approver Name</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Request_Queue_Approval</name>
        <label>Request Queue Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Approver</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Notify the Knowledge article owner(s) of the requested evaluation</description>
            <name>Notify_Queue_Members_Of_Knowledge_Article_Evaluation</name>
            <actionName>AL_Knowledge_Notify_Knowledge_Owner_Upon_Approval_Evaluation</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Notify Queue Members Of Knowledge Article Evaluation</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Knowledge_Approval_By_Queue</name>
            <actionName>Screen_Flow_Knowledge</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Retrieve_Approver_Name.Outputs.QueueApprover</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Notify_Queue_Members_Of_Knowledge_Article_Evaluation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Knowledge Approval By Queue</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Notify submitter of the approval decision</description>
            <name>Notify_Submitter_of_Queue_Decision</name>
            <actionName>AL_Knowledge_Notify_Submitter_Of_Decision</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Knowledge_Approval_By_Queue.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>approvalDecision</name>
                <value>
                    <elementReference>Knowledge_Approval_By_Queue.Outputs.approvalDecision</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>submitter</name>
                <value>
                    <elementReference>Retrieve_Submitter_Id.Outputs.Submitter</elementReference>
                </value>
            </inputParameters>
            <label>Notify Submitter of Queue Decision</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Request_User_Approval</name>
        <label>Request User Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Approver</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Notify the Knowledge article owner(s) of the requested evaluation</description>
            <name>Notify_User_Of_Knowledge_Article_Evaluation</name>
            <actionName>AL_Knowledge_Notify_Knowledge_Owner_Upon_Approval_Evaluation</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Notify User Of Knowledge Article Evaluation</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Knowledge_Approval_By_User</name>
            <actionName>Screen_Flow_Knowledge</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>Retrieve_Approver_Name.Outputs.UserApprover</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Notify_User_Of_Knowledge_Article_Evaluation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Knowledge Approval By User</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Notify submitter of the approval decision</description>
            <name>Notify_Submitter_of_User_Decision</name>
            <actionName>AL_Knowledge_Notify_Submitter_Of_Decision</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Knowledge_Approval_By_User.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>approvalDecision</name>
                <value>
                    <elementReference>Knowledge_Approval_By_User.Outputs.approvalDecision</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>submitter</name>
                <value>
                    <elementReference>Retrieve_Submitter_Id.Outputs.Submitter</elementReference>
                </value>
            </inputParameters>
            <label>Notify Submitter of User Decision</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Preparation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ValidationStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting For Validation</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>submitter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
