force-app/main/default/flows/Screen_Flow_Create_Update_New_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>It&apos;s necesarry to assign the Case Record Type to get the Record Type Picklist Values. 
This is needed to Retrieve the available Case Types.</description>
        <name>Assign_Case_Record_Type</name>
        <label>Case Record Type</label>
        <locationX>666</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varR_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Case_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Case&apos;s Account and other variables</description>
        <name>Assign_Case_Variables</name>
        <label>Assign Case Variables</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varR_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.ParentId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.CaseNumber</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.ClosedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Comments</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_The_Account_s_Contract_Parties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If the Case has an existing Label, this Label is assigned to the variable to be shown in the New Case Information Screen.</description>
        <name>Assign_Current_Case_Variables</name>
        <label>Assign Current Case Variables</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varT_AccountContractParty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Label__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Case_Currently_New_Or_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the In Progress Status to the Case</description>
        <name>Assign_In_Progress_Status_To_Case</name>
        <label>Assign In Progress Status To Case</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varR_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Case_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign all necessary Request values.</description>
        <name>Assign_Request_Values</name>
        <label>Assign Request Values</label>
        <locationX>248</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>varR_Request.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.Request_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.null__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pl_Supplier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.Name_Plate_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Name_Plate_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Request_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to fill known values to the case record variable</description>
        <name>Assign_Values_For_Case_Creation</name>
        <label>Assign Values For Case Creation</label>
        <locationX>666</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varR_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the Flow Element with &apos;Get Account Record&apos; if the Get Account Record Element fails.</description>
        <name>Flow_Element_Get_Account_Record</name>
        <label>Flow Element - Get Account Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Account_Record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Flow_Fault_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the Flow Element with &apos;Get Case Record&apos; if the Get Case Record Element fails.</description>
        <name>Flow_Element_Get_Case_Record</name>
        <label>Flow Element - Get Case Record</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Case_Record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Flow_Fault_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the Flow Element with &apos;Get Case Record Type&apos; if the Get Case Record Type Element fails.</description>
        <name>Flow_Element_Get_Case_Record_Type</name>
        <label>Flow Element - Get Case Record Type</label>
        <locationX>1810</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>var_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET_Case_Record_Type</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Flow_Fault_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the Flow Element with &apos;Update_Request_Lookup_On_Associated_Case&apos; if the &apos;Update Request Lookup On Associated Case&apos; Element fails.</description>
        <name>Flow_Element_Update_Request_Lookup_On_Associated_Case</name>
        <label>Flow Element - Update Request Lookup On Associated Case</label>
        <locationX>556</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>var_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_Request_Lookup_On_Associated_Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Flow_Fault_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the Flow Element with &apos;Upsert Case Record&apos; if the Upsert Case Record Type Element fails.</description>
        <name>Flow_Element_Upsert_Case_Record</name>
        <label>Flow Element - Upsert Case Record</label>
        <locationX>1546</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>var_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upsert_Case_Record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roll_Back_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the Flow Element with &apos;Upsert Request Record&apos; if the Upsert Request Record Element fails.</description>
        <name>Flow_Element_Upsert_Request_Record</name>
        <label>Flow Element - Upsert Request Record</label>
        <locationX>820</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>var_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upsert_Request_Record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Flow_Fault_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the Flow Element with &apos;What_Input_Variable_Object_Is_Used&apos; if the &apos;What Input Variable Object Is Used&apos; Element fails.</description>
        <name>Flow_Element_What_Input_Variable_Object_Is_Used</name>
        <label>Flow Element - What Input Variable Object Is Used</label>
        <locationX>1282</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>What_Input_Variable_Object_Is_Used</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Flow_Fault_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If the Case already has a request we use that request to update.</description>
        <name>Request_Id</name>
        <label>Request Id</label>
        <locationX>116</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>varR_Request.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Case.Request__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Request_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>C_Question</name>
        <choiceText>Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Request</name>
        <choiceText>Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request</stringValue>
        </value>
    </choices>
    <decisions>
        <description>What is the Case Record Type of the created Case? If it is a Request and the Case does not yet have a Request, a Request record is also created.</description>
        <name>Case_Record_Type_Of_Created_Case</name>
        <label>Case Record Type Of Created Case</label>
        <locationX>666</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Request_Exists</targetReference>
            </connector>
            <label>Request</label>
        </rules>
    </decisions>
    <decisions>
        <description>We should only create a new request if the request not exists. We check if the Case already have a request. Use case is during update case action.</description>
        <name>Decision_Request_Exists</name>
        <label>Request Exists</label>
        <locationX>248</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Assign_Request_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Request</defaultConnectorLabel>
        <rules>
            <name>Outcome_Request_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.Request__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Id</targetReference>
            </connector>
            <label>Request Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Case is currently New or Assigned, the Case Status should be changed to In Progress</description>
        <name>Is_Case_Currently_New_Or_Assigned</name>
        <label>Is Case Currently New Or Assigned?</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>New_Case_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>New_Or_Assigned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_In_Progress_Status_To_Case</targetReference>
            </connector>
            <label>New Or Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>What Case Type is chosen in the New Case Information Screen?</description>
        <name>What_Case_Type_Is_Chosen</name>
        <label>What Case Type Is Chosen</label>
        <locationX>666</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_For_Case_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Name_Plate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name Plate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Request_Information</targetReference>
            </connector>
            <label>Name Plate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the input variable an Account (Create New Case) or a Case (Update Existing Case)?</description>
        <name>What_Input_Variable_Object_Is_Used</name>
        <label>What Input Variable Object Is Used</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Flow_Element_What_Input_Variable_Object_Is_Used</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <description>With this flow, a User can easily create a Case from the Account Record Page or update a new Case on the Case Record Page using a button.</description>
    <dynamicChoiceSets>
        <description>What is the Case Label, Woonstad or Stadswonen</description>
        <name>CaseLabel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Label__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The Case&apos;s origin, either Email, Phone or Website</description>
        <name>Choice_CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The Case&apos;s priority, either Low, Medium or High</description>
        <name>Choice_CasePriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The Case&apos;s type, which is a dependent picklist for Case Reason.</description>
        <name>Choice_CaseType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_Request_Supplier_Name_Plate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>null__NotFound</picklistField>
        <picklistObject>Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Case_Record_Types</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>The link to the Case record after it has been created or updated.</description>
        <name>forT_CaseRecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!varR_Case.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_DefaultCaseOrigin</name>
        <dataType>String</dataType>
        <expression>IF(
  BEGINS({!recordId}, &quot;001&quot;),
  &quot;Phone&quot;,
  TEXT({!varR_Case.Origin})
)</expression>
    </formulas>
    <interviewLabel>Screen Flow - Create/Update New Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Create/Update New Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Upsert the case record based on input screens and default values in variable.</description>
        <name>Upsert_Case_Record</name>
        <label>Upsert Case Record</label>
        <locationX>666</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Case_Record_Type_Of_Created_Case</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <faultConnector>
            <targetReference>Flow_Element_Upsert_Case_Record</targetReference>
        </faultConnector>
        <inputReference>varR_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create a Request record if the Case does not have one yet. Update the existing Request if the Case does have one.</description>
        <name>Upsert_Request_Record</name>
        <label>Upsert Request Record</label>
        <locationX>248</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Update_Request_Lookup_On_Associated_Case</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <faultConnector>
            <targetReference>Flow_Element_Upsert_Request_Record</targetReference>
        </faultConnector>
        <inputReference>varR_Request</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the Account record of the Account where the Case was created</description>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Variables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Element_Get_Account_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_Case_Variables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Element_Get_Case_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Case Record Type based on the selection in the New Case Information.</description>
        <name>GET_Case_Record_Type</name>
        <label>Case Record Type</label>
        <locationX>666</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Element_Get_Case_Record_Type</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Record_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>If the Flow Errors we don&apos;t want to stop half way in the process. The whole process should roll back and run again.</description>
        <name>Roll_Back_Records</name>
        <label>Roll Back Records</label>
        <locationX>1546</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Publish_Flow_Fault_Event</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <description>Update the Look-up on the Case to the (new) Request record.</description>
        <name>Update_Request_Lookup_On_Associated_Case</name>
        <label>Update Request Lookup On Associated Case</label>
        <locationX>248</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Element_Update_Request_Lookup_On_Associated_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>varR_Request.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>It&apos;s needed to seperate the case type field to get the case types available for the record type.</description>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>666</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Case_Type_Is_Chosen</targetReference>
        </connector>
        <fields>
            <name>Case_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_Case.Type</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Collection information to create the new Case. 

The record type selection is not scalable. We tried to use the record choice set to get the record types, but than the user get the english translation instead of the Dutch one. Besides that in the future we need to think about a solution where we can show options, based on the permission of the user.</description>
        <name>New_Case_Information</name>
        <label>New Case Information</label>
        <locationX>666</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_Case_Record_Type</targetReference>
        </connector>
        <fields>
            <name>New_Case_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Case_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Case_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Case_Record.Subject</elementReference>
                    </defaultValue>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Description</name>
                    <defaultValue>
                        <stringValue>{!Get_Case_Record.Description}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Case_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Case_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Case_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Case_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Record_Type</name>
                    <choiceReferences>C_Question</choiceReferences>
                    <choiceReferences>C_Request</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varR_Case.RecordType.DeveloperName</elementReference>
                    </defaultValue>
                    <fieldText>Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Case_Information_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Origin</name>
                    <choiceReferences>Choice_CaseOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>forT_DefaultCaseOrigin</elementReference>
                    </defaultValue>
                    <fieldText>Origin</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Case_Information_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Case_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Case_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Case_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label</name>
                    <choiceReferences>CaseLabel</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varT_AccountContractParty</elementReference>
                    </defaultValue>
                    <fieldText>Label</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>LabelUnknown</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;Based on the Account contract data, it could not be determined what the Case label should be. If known, please fill it in.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varT_AccountContractParty</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Unknown</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LabelKnown</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;This is the label of the Case which is determined based on the contract data of this Account.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varT_AccountContractParty</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Unknown</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Case_Information_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Because of SFI-791 we created two temporary fields for Supplier (Supplier_Name_Plate__c) and Supplier Email (Supplier_Email__c) to support the name plate process on a short term. In phase 2 we will redesign the name plate process.</description>
        <name>New_Request_Information</name>
        <label>New Request Information</label>
        <locationX>534</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values_For_Case_Creation</targetReference>
        </connector>
        <fields>
            <name>New_Request_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Request_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Request_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_AddressVisibility</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Active shipping address of requester:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Account_Record.Full_Shipping_Street__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Account_Record.Full_Shipping_Postal_Code__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Account_Record.Full_Shipping_City__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Check if the request also applies to this address.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Request_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_SupplierSelection</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Based on the address, you determine the supplier to handle this request.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Management organization &quot;Noord/Oost&quot;: Keller&apos;s IJzerhandel B.V.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Management organization &quot;Zuid&quot;: Het Zuider Sleutelhuis B.V.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Management organization &quot;Centrum/West&quot;: IJzerhandel Overschie&lt;/strong&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;NOTE: requests for &quot;Centrum/West&quot; for specific complex 23109 go to Weijntjes Hang- En Sluitwerk	&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Request_Information_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Request_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Request_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Request_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_Name_Plate_Text</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varR_Case.Request__r.Name_Plate_Text__c</elementReference>
                    </defaultValue>
                    <fieldText>Name Plate Text</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Request_Information_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pl_Supplier</name>
                    <choiceReferences>PCS_Request_Supplier_Name_Plate</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varR_Case.Request__r.null__NotFound</elementReference>
                    </defaultValue>
                    <fieldText>Supplier</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Request_Information_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>666</locationX>
        <locationY>2804</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Success_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_SuccessMessageCreate</name>
                    <fieldText>&lt;p&gt;Good work {!$User.FirstName}, you have successfully created the Case.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId</leftValueReference>
                            <operator>StartsWith</operator>
                            <rightValue>
                                <stringValue>001</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Txt_SuccessMessageUpdate</name>
                    <fieldText>&lt;p&gt;Good work {!$User.FirstName}, you have successfully updated the Case.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId</leftValueReference>
                            <operator>StartsWith</operator>
                            <rightValue>
                                <stringValue>500</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FinishButton</name>
                    <fieldText>&lt;p&gt;{!Txt_OpenRecordButton}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId</leftValueReference>
                            <operator>StartsWith</operator>
                            <rightValue>
                                <stringValue>001</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Success_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Input_Variable_Object_Is_Used</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Publish_Flow_Fault_Event</name>
        <label>Publish Flow Fault Event</label>
        <locationX>1546</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Subflow_ErrorScreen</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Create_Update_New_Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>var_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This subflow retrieves the Accounts Contract Parties from its Real Estate Contracts, which are linked to the Contract Lines.</description>
        <name>Retrieve_The_Account_s_Contract_Parties</name>
        <label>Retrieve The Account&apos;s Contract Parties</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>New_Case_Information</targetReference>
        </connector>
        <flowName>AL_Get_Account_Contract_Parties</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varT_AccountContractParty</assignToReference>
            <name>varT_AccountContractParty</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Show the generic Screen Flow Error Screen</description>
        <name>Subflow_ErrorScreen</name>
        <label>Screen Flow - Error Screen</label>
        <locationX>1546</locationX>
        <locationY>2114</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Button to open the new or updated Case.</description>
        <name>Txt_OpenRecordButton</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a class=&quot;slds-button slds-button_brand&quot; href=&quot;{!forT_CaseRecordLink}&quot; target=&quot;_self&quot;&gt;{!$Label.OpenCase}&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_CaseHandlingInWocas</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The record variable where information about the Case is captured.</description>
        <name>varR_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>The record variable where information about the Request is captured, which is created if the Case record type is Request.</description>
        <name>varR_Request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request__c</objectType>
    </variables>
    <variables>
        <description>What is the Account&apos;s Contract Party, Woonstad or Stadswonen?</description>
        <name>varT_AccountContractParty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_Case_Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Question</stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_Request_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
