force-app/main/default/flows/Screen_Flow_KC_Create_Update_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Navigate to the selected case</description>
        <name>Navigat_to_Selected_Case</name>
        <label>Navigat to Selected Case</label>
        <locationX>671</locationX>
        <locationY>1322</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>var_Selected_Open_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Navigate to the created Case</description>
        <name>Navigate_to_Created_Case</name>
        <label>Navigate to Created Case</label>
        <locationX>990</locationX>
        <locationY>910</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>var_Created_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <description>Assign the Account id from recordid to the accountid variable</description>
        <name>Assign_Accountid</name>
        <label>Assign Accountid</label>
        <locationX>957</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_AccountID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR2_Create_A_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to assign the recordid to the var_selected_case</description>
        <name>Assignment_CaseID</name>
        <label>Assignment CaseID</label>
        <locationX>385</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_Selected_Open_Case</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR2_Choice_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Descision to check if the get Case is</description>
        <name>Decision_Is_case_Empty</name>
        <label>Decision Is case Empty</label>
        <locationX>671</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Assign_Accountid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Get_Case_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_CaseID</targetReference>
            </connector>
            <label>Is Get Case Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>What choice has been made New Case or Call Log</description>
        <name>What_Choice</name>
        <label>What Choice</label>
        <locationX>377</locationX>
        <locationY>673</locationY>
        <defaultConnector>
            <targetReference>SCR2_Create_A_New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Log_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Call_Log_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR2_Existing_Case_Log_A_Call</targetReference>
            </connector>
            <label>Call Log is not Null</label>
        </rules>
    </decisions>
    <description>A screen flow for the Customer Contact Center employee to create or update a case with relevant information</description>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - KC Create/Update Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - KC Create/Update Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the case of the id from the recorid</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>671</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_case_Empty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Case_Faulth_Path</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>The choice screen to eithe set a call log or create a new case</description>
        <name>SCR2_Choice_Screen</name>
        <label>Choice Screen</label>
        <locationX>385</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Choice</targetReference>
        </connector>
        <fields>
            <name>SCR2_Choice_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR2_Choice_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Choice_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCR2_Choice_Buttons_Header</name>
                    <extensionName>c:woonstadFlowHeaderStyling</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Wat voor actie wil je uitvoeren?</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Choice_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCR2_Choice_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR2_Choice_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Choice_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCR2_Choice_Buttons</name>
                    <extensionName>c:woonstadKCCaseChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_Call_Log_Choice</assignToReference>
                        <name>var_contactmoment</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_New_Case_Choice</assignToReference>
                        <name>var_nieuweZaak</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Choice_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen where the user can create a new case</description>
        <name>SCR2_Create_A_New_Case</name>
        <label>Create A new Case</label>
        <locationX>977</locationX>
        <locationY>728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigate_to_Created_Case</targetReference>
        </connector>
        <fields>
            <name>SCR2_Create_A_New_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR2_Create_A_New_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Create_A_New_Case_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCR2_Create_A_New_Case_Form</name>
                    <extensionName>c:woonstadKCCaseCreationForm</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>var_AccountID</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_Created_Case</assignToReference>
                        <name>caseId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Create_A_New_Case_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>in this screen the user can log a call to the existing case</description>
        <name>SCR2_Existing_Case_Log_A_Call</name>
        <label>Existing Case Log a Call</label>
        <locationX>671</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigat_to_Selected_Case</targetReference>
        </connector>
        <fields>
            <name>SCR2_Existing_Case_Log_A_Call_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR2_Existing_Case_Log_A_Call_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Existing_Case_Log_A_Call_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCR2_Existing_Case_Log_A_Call_Path</name>
                    <extensionName>c:woonstadStepPath</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <numberValue>2.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>jsonInput</name>
                        <value>
                            <elementReference>var_Path_Update_Case</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Existing_Case_Log_A_Call_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCR2_Existing_Case_Log_A_Call_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR2_Existing_Case_Log_A_Call_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Existing_Case_Log_A_Call_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCR2_Existing_Case_Log_A_Call_Form</name>
                    <extensionName>c:woonstadLogACallForm</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>accountId</name>
                        <value>
                            <elementReference>var_AccountID</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>caseId</name>
                        <value>
                            <elementReference>var_Selected_Open_Case</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Existing_Case_Log_A_Call_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCR2_Existing_Case_Log_A_Call_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR2_Existing_Case_Log_A_Call_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Existing_Case_Log_A_Call_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_Existing_Case_Log_A_Call_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>545</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Error screen for the Get case</description>
        <name>Error_Screen_Get_Case</name>
        <label>Error Screen Get Case</label>
        <locationX>1441</locationX>
        <locationY>398</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Faulth path for the get case</description>
        <name>Get_Case_Faulth_Path</name>
        <label>Get Case Faulth Path</label>
        <locationX>1441</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Error_Screen_Get_Case</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_KC_Create_Update_Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <stringValue>Get_Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>The variable to store the information for the New Case Path</description>
        <name>var_Path_New_Case</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
  { &quot;number&quot;: 1, &quot;label&quot;: &quot;Openstaande Zaken&quot;, &quot;tooltip&quot;: &quot;Kijk of het huidige contact moment niet bij een openstaande case hoort &quot; },
  { &quot;number&quot;: 2, &quot;label&quot;: &quot;Zaak aanmaken&quot;, &quot;tooltip&quot;: &quot;leg de informatie voor de nieuwe zaak vast&quot; }
]</text>
    </textTemplates>
    <textTemplates>
        <description>The variable to store the information to be shown in the path for Update Case</description>
        <name>var_Path_Update_Case</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
  { &quot;number&quot;: 1, &quot;label&quot;: &quot;Openstaande Zaken&quot;, &quot;tooltip&quot;: &quot;Kijk of het huidige contact moment niet bij een openstaande case hoort &quot; },
  { &quot;number&quot;: 2, &quot;label&quot;: &quot;Contact Vastleggen&quot;, &quot;tooltip&quot;: &quot;leg het Contact moment vast&quot; }
]</text>
    </textTemplates>
    <variables>
        <description>the varible for the recordid</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>001Ve00000JlFSBIA3</stringValue>
        </value>
    </variables>
    <variables>
        <description>the variable for the AccountID</description>
        <name>var_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable to set the Call Log Choice</description>
        <name>var_Call_Log_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable to store the created Case</description>
        <name>var_Created_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable to store the output of the new case choice</description>
        <name>var_New_Case_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The variable to store the Case ID that got selected</description>
        <name>var_Selected_Open_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
