force-app/main/default/flows/Screen_Flow_Create_Name_Plate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Apex to create the case Log and email</description>
        <name>Apex_Case_Log_Email_Create</name>
        <label>Apex Case Log Email Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>woonstadFlowCaseCallLogEmailService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Case</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseOrigin</name>
            <value>
                <stringValue>phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseReason</name>
            <value>
                <elementReference>var_Name_Plate_Reason_Ouptut</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowStartTime</name>
            <value>
                <elementReference>var_FlowStartTime_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nameplateText</name>
            <value>
                <elementReference>var_Name_Plate_Text_Output</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>supplierEmailInput</name>
            <value>
                <elementReference>var_Supplier_Email_Output</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>supplierNameInput</name>
            <value>
                <elementReference>var_Supplier_Name_Output</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>supplierNote</name>
            <value>
                <elementReference>var_Supplier_Information_Output</elementReference>
            </value>
        </inputParameters>
        <nameSegment>woonstadFlowCaseCallLogEmailService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Navigate to the case created by the Apex</description>
        <name>Navigate_to_Case</name>
        <label>Navigate to Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Apex_Case_Log_Email_Create.caseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <description>Assign the output variables to the prefill Variables</description>
        <name>Assign_Output_to_Prefill</name>
        <label>Assign Output to Prefill</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Supplier_Email_Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Supplier_Email_Prefill</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Supplier_Name_Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Supplier_Name_Prefill</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Name_Plate_Reason_Ouptut</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_NamePlate_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Name_Plate_Text_Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Name_Plate_Text_Prefill</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Supplier_Information_Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Supplier_Information_Prefill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR2_NamePlate_Confirmation</targetReference>
        </connector>
    </assignments>
    <description>This is the screen flow for the creation of the nameplate</description>
    <environments>Default</environments>
    <formulas>
        <description>This is a variable formula to capture the start time of the flow to calculate the minutes later in the flow</description>
        <name>var_FlowStartTime_Formula</name>
        <dataType>String</dataType>
        <expression>TEXT($Flow.CurrentDateTime)</expression>
    </formulas>
    <interviewLabel>Screen Flow - Create Name Plate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Create Name Plate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the account information based on the recordId</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR1_Information_Input</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Get_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>In this screen the user puts the information for the new NamePlate Request</description>
        <name>SCR1_Information_Input</name>
        <label>SCR1_NamePlate_Information_Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Output_to_Prefill</targetReference>
        </connector>
        <fields>
            <name>SCR1_Information_Input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR1_Information_Input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR1_Information_Input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCR1_NamePlate_Path</name>
                    <extensionName>c:woonstadStepPath</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>jsonInput</name>
                        <value>
                            <elementReference>var_NamePlate_Path</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR1_Information_Input_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCR1_Information_Input_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR1_Information_Input_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR1_Information_Input_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCR1_NamePlate_Input_Form</name>
                    <extensionName>c:woonstadNameplateForm</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>supplierEmailIn</name>
                        <value>
                            <elementReference>var_Supplier_Email_Prefill</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>supplierNameIn</name>
                        <value>
                            <elementReference>var_Supplier_Name_Prefill</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nameplateNameIn</name>
                        <value>
                            <elementReference>var_Name_Plate_Text_Prefill</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>reasonIn</name>
                        <value>
                            <elementReference>var_NamePlate_Reason</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>supplierNoteIn</name>
                        <value>
                            <elementReference>var_Supplier_Information_Prefill</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_Supplier_Email_Output</assignToReference>
                        <name>supplierEmail</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_Supplier_Name_Output</assignToReference>
                        <name>supplierName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_Name_Plate_Text_Output</assignToReference>
                        <name>nameplateName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_Name_Plate_Reason_Ouptut</assignToReference>
                        <name>reason</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_Supplier_Information_Output</assignToReference>
                        <name>supplierNote</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR1_Information_Input_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>In this screen the user sees an overview of the Name plate input from the previous screen</description>
        <name>SCR2_NamePlate_Confirmation</name>
        <label>SCR2_NamePlate_Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Apex_Case_Log_Email_Create</targetReference>
        </connector>
        <fields>
            <name>SCR2_NamePlate_Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR2_NamePlate_Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_NamePlate_Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCR2_NamePlate_Confirmation_Path</name>
                    <extensionName>c:woonstadStepPath</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <numberValue>2.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>jsonInput</name>
                        <value>
                            <elementReference>var_NamePlate_Path</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_NamePlate_Confirmation_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCR2_NamePlate_Confirmation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR2_NamePlate_Confirmation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_NamePlate_Confirmation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCR2_Nameplate_Confirmation_Form</name>
                    <extensionName>c:woonstadConfirmationForm</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>flowInputSupplierName</name>
                        <value>
                            <elementReference>var_Supplier_Name_Output</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowInputNamePlate</name>
                        <value>
                            <elementReference>var_Name_Plate_Text_Output</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowInputReason</name>
                        <value>
                            <elementReference>var_Name_Plate_Reason_Ouptut</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowInputName</name>
                        <value>
                            <elementReference>Get_Account.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR2_NamePlate_Confirmation_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Error screen Get account</description>
        <name>Error_Screen_Get_Account</name>
        <label>Error Screen Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>The Fault path when the Get account fails</description>
        <name>Fault_Path_Get_Account</name>
        <label>Fault Path Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Error_Screen_Get_Account</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Create_Name_Plate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <stringValue>Get_Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>this is the variable for the woonstad path.</description>
        <name>var_NamePlate_Path</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
  { &quot;number&quot;: 1, &quot;label&quot;: &quot;Vul de gegevens in&quot;, &quot;tooltip&quot;: &quot;Vul de gegevens voor het verzoek van het naamplaatje in &quot; },
  { &quot;number&quot;: 2, &quot;label&quot;: &quot;Samenvatting&quot;, &quot;tooltip&quot;: &quot;Controleer de gegevens die ingevuld zijn voordat je op bevestigen klikt&quot; }
]</text>
    </textTemplates>
    <variables>
        <description>This is the input variable for the recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The variable for the reason why the name plate needs to be changed</description>
        <name>var_Name_Plate_Reason_Ouptut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>the variable for the Name Plate Text output</description>
        <name>var_Name_Plate_Text_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The variable for the name plate text Prefill</description>
        <name>var_Name_Plate_Text_Prefill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The variable for the Reason that the Name Plate got Changed</description>
        <name>var_NamePlate_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Output Variable for the Supplier Email</description>
        <name>var_Supplier_Email_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The variable for the prefilled information</description>
        <name>var_Supplier_Email_Prefill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the variable for the extra information output to the supplier</description>
        <name>var_Supplier_Information_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>this is the variable for the extra information to the Supplier Previll</description>
        <name>var_Supplier_Information_Prefill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The output variable for the Supplier Name</description>
        <name>var_Supplier_Name_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The variable for the supplier name Prefill</description>
        <name>var_Supplier_Name_Prefill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
