force-app/main/default/flows/Screen_Flow_Manage_Account_Addresses_for_Subflow_input.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Account&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_Account</name>
        <label>VarT_FlowElement - Get_Account</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Account_Addresses&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_Account_Addresses</name>
        <label>VarT_FlowElement - Get_Account_Addresses</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Account_Addresses</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if Account is known in order to proceed with the flow. In case, it is not known, the flow has to stop in order to prevent errors of required/requested account id</description>
        <name>Is_Account_Variable_Null</name>
        <label>Is Account Variable Null?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Screen_NoAccountInputFoundMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, Account Is Null</defaultConnectorLabel>
        <rules>
            <name>No_Account_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Addresses</targetReference>
            </connector>
            <label>No, Account Is Not Null</label>
        </rules>
    </decisions>
    <description>Address management UI</description>
    <environments>Default</environments>
    <interviewLabel>Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Manage Account Addresses for Subflow input</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Based on the entry level from where this subflow is launched (new account versus existing account or at case or contract level), this flow gathers the account record.</description>
        <name>Get_Account</name>
        <label>Account</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Variable_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varR_Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Billing_Address__c</queriedFields>
        <queriedFields>Primary_Shipping_Address__c</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingCountryCode</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingStateCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>ShippingCountryCode</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingAddress</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingStateCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Based on the entry level from where this subflow is launched (new account versus existing account or at case or contract level), the related account addresses are collected in a collection record. In case no records are found (e.g. for a new account), then the flow continues without ids in the subflow to manage account addresses.</description>
        <name>Get_Account_Addresses</name>
        <label>Account Addresses</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subflow_ManageAccountAddresses</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_Account_Addresses</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Account.Id</elementReference>
            </value>
        </filters>
        <object>Account_Address__c</object>
        <outputReference>varR_CurrentAccountAddresses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Address__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Is_Primary__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Address_Unique_Key__c</queriedFields>
        <queriedFields>Full_Address__c</queriedFields>
    </recordLookups>
    <recordRollbacks>
        <description>If the Flow Errors we don&apos;t want to stop half way in the process. The whole process should roll back and run again.</description>
        <name>RollBackRecords</name>
        <label>Roll Back Records</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Screen to show message that flow didn&apos;t receive an input with account value</description>
        <name>Screen_NoAccountInputFoundMessage</name>
        <label>No Account Input Found Message</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_NoAccountInputFoundMessage_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_NoAccountInputFoundMessage_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_NoAccountInputFoundMessage_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_NoInputFoundMessage</name>
                    <fieldText>&lt;p&gt;Sorry, something went wrong. The system is missing information to report a change of address. Make sure it is known for which account an address change should be required.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_NoAccountInputFoundMessage_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Show the generic Screen Flow Error Screen.</description>
        <name>Subflow_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Based on the entry level of this subflow, the variables and values are guided into the main screen flow to manage account addresses and ultimately update/create the new address, new account (if needed) and account address.</description>
        <name>Subflow_ManageAccountAddresses</name>
        <label>Manage Account Addresses</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <flowName>Screen_Flow_Manage_Account_Addresses</flowName>
        <inputAssignments>
            <name>varB_NewlyCreatedAccount</name>
            <value>
                <elementReference>varB_NewlyCreatedAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_Account</name>
            <value>
                <elementReference>varR_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_CurrentAccountAddresses</name>
            <value>
                <elementReference>varR_CurrentAccountAddresses</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_Account</assignToReference>
            <name>varR_Account</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Subflow_ErrorScreen</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Manage_Account_Addresses_for_Subflow_input</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_NewlyCreatedAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varR_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_CurrentAccountAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Address__c</objectType>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
