force-app/main/default/flows/Screen_Flow_Create_New_AccountContactRelationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assignment of AccountId of collected Account record in order to populate the Account Id of the New AccountContactRelationship record</description>
        <name>Assign_Account_Record_ID_to_varR_AccountContactRelationship</name>
        <label>Assign Account Record ID to varR_AccountContactRelationship</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varR_AccountContactRelationship.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_AccountContactRelationshipAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of PersonContactId of collected Account record in order to populate the Contact Id of the New AccountContactRelationship record because this is the person account in the relation where the business account should be connected as &apos;AccountId&apos;</description>
        <name>Assign_Account_Record_ID_to_varR_AccountContactRelationship_As_Contact</name>
        <label>Assign Account Record ID to varR_AccountContactRelationship As Contact</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varR_AccountContactRelationship.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_AccountContactRelationshipContactMDW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign necessary values for record variable</description>
        <name>Assign_Values_To_New_Account_Contact_Relationship_Variable</name>
        <label>Assign Values To New Account Contact Relationship Variable</label>
        <locationX>886</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varR_AccountContactRelationship.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AccountContactRelationship.Role_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_RelationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AccountContactRelationship.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AccountCreatedSelectedPerson.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AccountContactRelationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign necessary values for record variable</description>
        <name>Assign_Values_To_New_MDW_Account_Contact_Relationship_Variable</name>
        <label>Assign Values To New MDW Account Contact Relationship Variable</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varR_AccountContactRelationship.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AccountContactRelationship.Role_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_RelationType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AccountContactRelationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Account&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGet_Account</name>
        <label>VarT_FlowElement - Get_Account</label>
        <locationX>1986</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Error Message to show on the current/existing accountcontactrelationships with possibly same combination between accounts</description>
        <name>Assignment_Of_Error_Message_In_Case_Of_Duplicate</name>
        <label>Assignment Of Error Message In Case Of Duplicate</label>
        <locationX>1722</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>varB_DuplicateCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Account_Record_PersonAccount_RelationType_MDW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_AccountContactRelationshipAccount&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_AccountContactRelationshipAccount</name>
        <label>VarT_FlowElement - Get_AccountContactRelationshipAccount</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_AccountContactRelationshipAccount</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_AccountContactRelationshipContactMDW&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_AccountContactRelationshipContactMDW</name>
        <label>VarT_FlowElement - Get_AccountContactRelationshipContactMDW</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_AccountContactRelationshipContactMDW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_AccountCreatedSelectedPerson&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_AccountCreatedSelectedPerson</name>
        <label>VarT_FlowElement - Get_AccountCreatedSelectedPerson</label>
        <locationX>1194</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_AccountCreatedSelectedPerson</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>To decide if PersonAccount needs to be registered as ContactId in AccountContactRelationship with Business Account as AccountId</description>
        <name>Account_Record_PersonAccount_RelationType_MDW</name>
        <label>Account Record = PersonAccount &amp; RelationType = MDW</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Record_ID_to_varR_AccountContactRelationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Path</defaultConnectorLabel>
        <rules>
            <name>MDW_PersonAccount_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_RelationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MDW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varB_BusinessAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Record_ID_to_varR_AccountContactRelationship_As_Contact</targetReference>
            </connector>
            <label>MDW PersonAccount Path</label>
        </rules>
    </decisions>
    <decisions>
        <description>In case a new person account needs to be created for this relationship</description>
        <name>Create_New_PersonAccount</name>
        <label>Create New PersonAccount</label>
        <locationX>886</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_AccountCreatedSelectedPerson</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_create_new_person_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_SelectedPersonAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_To_Create_New_Account_Record</targetReference>
            </connector>
            <label>Yes, create new person account</label>
        </rules>
    </decisions>
    <decisions>
        <description>To determine if the current social network relationships should be showed in a screen</description>
        <name>Existing_Social_Network_For_MDW_Records_To_Show</name>
        <label>Existing Social Network For MDW Records To Show</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Business_Account_with_PersonAccount_relation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_show_existing_relationships_as_MDW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_AccountContactRelationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_PersonAccount_Current_MDW_of_BA</targetReference>
            </connector>
            <label>Yes, show existing relationships as MDW</label>
        </rules>
    </decisions>
    <decisions>
        <description>To determine if the current social network relationships should be showed in a screen</description>
        <name>Existing_Social_Network_Records_To_Show</name>
        <label>Existing Social Network Records To Show</label>
        <locationX>886</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Screen_Search_New_Social_Network_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_show_existing_relationships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_AccountContactRelationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Current_Social_Network</targetReference>
            </connector>
            <label>Yes, show existing relationships</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_KeyWordSearch</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Keyword_Search}) &lt;= 1</expression>
    </formulas>
    <interviewLabel>Screen Flow - Create New AccountContactRelationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Create New AccountContactRelationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the new record based on the filled variable</description>
        <name>Create_AccountContactRelationship</name>
        <label>Account Contact Relationship</label>
        <locationX>534</locationX>
        <locationY>1664</locationY>
        <faultConnector>
            <targetReference>Assignment_Of_Error_Message_In_Case_Of_Duplicate</targetReference>
        </faultConnector>
        <inputReference>varR_AccountContactRelationship</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Account record based on the entered recordId</description>
        <name>Get_Account</name>
        <label>Account</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Record_PersonAccount_RelationType_MDW</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGet_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Collection of current social network of this account with all MDW and CPE</description>
        <name>Get_AccountContactRelationshipAccount</name>
        <label>Account Contact Relationship - Account</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Social_Network_Records_To_Show</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_AccountContactRelationshipAccount</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_AccountContactRelationship.AccountId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>varR_AccountContactRelationships</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>Role_2__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Contact_Full_Name__c</queriedFields>
        <queriedFields>Account_Full_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Collection of current social network of this account with all MDW only because this path is only there for the new relation between this person account with a business account to search in next flow elements.</description>
        <name>Get_AccountContactRelationshipContactMDW</name>
        <label>Account Contact Relationship - Contact MDW</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Social_Network_For_MDW_Records_To_Show</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_AccountContactRelationshipContactMDW</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_AccountContactRelationship.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MDW</stringValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>varR_AccountContactRelationships</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>Role_2__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Contact_Full_Name__c</queriedFields>
        <queriedFields>Account_Full_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the selected person account record of the subflow or the selected person account in the screen after database search</description>
        <name>Get_AccountCreatedSelectedPerson</name>
        <label>Account - Created / Selected Person</label>
        <locationX>886</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_To_New_Account_Contact_Relationship_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_AccountCreatedSelectedPerson</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_SelectedPersonAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>If the Flow Errors we don&apos;t want to stop half way in the process. The whole process should roll back and run again.</description>
        <name>RollBackRecords</name>
        <label>Roll Back Records</label>
        <locationX>1986</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen to relate account and person account (contact) to this relationship</description>
        <name>Business_Account_with_PersonAccount_relation</name>
        <label>Business Account with PersonAccount relation</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_To_New_MDW_Account_Contact_Relationship_Variable</targetReference>
        </connector>
        <fields>
            <name>Business_Account_with_PersonAccount_relation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_Account_with_PersonAccount_relation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_Account_with_PersonAccount_relation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_AccountContactRelationship.AccountId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_Account_with_PersonAccount_relation_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_AccountContactRelationship.ContactId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_Account_with_PersonAccount_relation_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to visualize the social network of this account</description>
        <name>Screen_Current_Social_Network</name>
        <label>Screen Current Social Network</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Search_New_Social_Network_Contact</targetReference>
        </connector>
        <fields>
            <name>Screen_Current_Social_Network_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Current_Social_Network_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Current_Social_Network_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_DisplayCheckDuplicates</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;It seems that the combination between the persons has already been made with the same start date. Creating a new relationship is therefore not possible. Check the list below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_DuplicateCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Current_Social_Network</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>AccountContactRelation</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Account_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-2773&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Person&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Contact_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-4f31&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Relatie&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Contact Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Role_2__c&quot;,&quot;guid&quot;:&quot;column-4da3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Role Relation&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;IsActive&quot;,&quot;guid&quot;:&quot;column-68b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Actief&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Current Social Network</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varR_AccountContactRelationships</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Current_Social_Network_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to visualize the existing and previous employers of this account</description>
        <name>Screen_PersonAccount_Current_MDW_of_BA</name>
        <label>Screen PersonAccount Current MDW of BA</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Business_Account_with_PersonAccount_relation</targetReference>
        </connector>
        <fields>
            <name>Screen_PersonAccount_Current_MDW_of_BA_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_PersonAccount_Current_MDW_of_BA_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_PersonAccount_Current_MDW_of_BA_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_DisplayCheckMDWDuplicates</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;It seems that the combination between the company and the person has already been made. Creating a new relationship is therefore not possible. Check the list below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_DuplicateCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Current_Employers</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>AccountContactRelation</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Account_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-2773&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Bedrijf&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Contact_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-4f31&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Persoon&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Contact Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Role_2__c&quot;,&quot;guid&quot;:&quot;column-4da3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Role Relation&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;IsActive&quot;,&quot;guid&quot;:&quot;column-68b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Actief&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Current Employer(s)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varR_AccountContactRelationships</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_PersonAccount_Current_MDW_of_BA_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to search for and select a person account to relate with the known person account</description>
        <name>Screen_Search_New_Social_Network_Contact</name>
        <label>Screen Search New Social Network Contact</label>
        <locationX>886</locationX>
        <locationY>866</locationY>
        <actions>
            <name>AL_Keyword_Search_in_Database</name>
            <actionName>AL_Keyword_Search_in_Database</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>varT_KeywordSearch</name>
                <value>
                    <elementReference>Keyword_Search</elementReference>
                </value>
            </inputParameters>
            <label>AL - Keyword Search in Database</label>
            <nameSegment>AL_Keyword_Search_in_Database</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_PersonAccount</targetReference>
        </connector>
        <fields>
            <name>Screen_Search_New_Social_Network_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Search_New_Social_Network_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Search_New_Social_Network_Contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Keyword_Search</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Keyword_Search</elementReference>
                    </defaultValue>
                    <fieldText>Keyword Search</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Txt_NoResults</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;No results found.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AL_Keyword_Search_in_Database.Results.varB_NoResultsFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Txt_FoundResults</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Success, there are {!AL_Keyword_Search_in_Database.Results.varN_ContactCount} search results. Please select an account from the list or click &apos;Next&apos; to create a new account.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AL_Keyword_Search_in_Database.Results.varB_NoResultsFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Search_New_Social_Network_Contact_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SearchAccounts</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search in Database</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>AL_Keyword_Search_in_Database.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>AL_Keyword_Search_in_Database.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>AL_Keyword_Search_in_Database.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>forB_KeyWordSearch</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Search_New_Social_Network_Contact_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Search_New_Social_Network_Contact_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Search_New_Social_Network_Contact_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Search_New_Social_Network_Contact_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ListofSearchResults</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search Results</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6ba6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Klant Naam&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Initials__pc&quot;,&quot;guid&quot;:&quot;column-9543&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Initialen&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Initials&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PersonEmail&quot;,&quot;guid&quot;:&quot;column-65f9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;E-mail&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;PersonBirthdate&quot;,&quot;guid&quot;:&quot;column-572b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Geboortedatum&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Birthdate&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Full_Shipping_Street__c&quot;,&quot;guid&quot;:&quot;column-eb61&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Straat&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Full Shipping Street&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Full_Shipping_Postal_Code__c&quot;,&quot;guid&quot;:&quot;column-4ae1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Postcode&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Full Shipping Postal Code&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AL_Keyword_Search_in_Database.Results.varR_FoundPersonAccounts</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varR_SelectedPersonAccount</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Search_New_Social_Network_Contact_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AL_Keyword_Search_in_Database.Results.varB_NoResultsFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>SearchAccounts</eventSource>
            <handlers>
                <screenActionName>AL_Keyword_Search_in_Database</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Show the generic Screen Flow Error Screen.</description>
        <name>Subflow_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>1986</locationX>
        <locationY>566</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>1986</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Subflow_ErrorScreen</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Create_New_AccountContactRelationship</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflow in order to create a new account record to use for this relationship</description>
        <name>Subflow_To_Create_New_Account_Record</name>
        <label>Subflow To Create New Account Record</label>
        <locationX>754</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Get_AccountCreatedSelectedPerson</targetReference>
        </connector>
        <flowName>Screen_Flow_Create_New_Account</flowName>
        <inputAssignments>
            <name>varB_InputRelationshipFlow</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varB_IsPersonAccount</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_SelectedPersonAccount</assignToReference>
            <name>varR_NewAccount</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_BusinessAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_DuplicateCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varR_AccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varR_AccountContactRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varR_SelectedPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_RelationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
