force-app/main/default/flows/Screen_Flow_Case_Handling_in_Wocas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>After sending the Case to OKAPI successfully, the case should update to the &apos;In Progress&apos; Status in order to show the KC employee that the case is handled as &apos;Zaak&apos; in Wocas.</description>
        <name>Assign_Case</name>
        <label>Case</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.External_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verzonden naar Wocas</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_CaseOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>In order to guide User ID to the Send Case to OKAPI Subflow</description>
        <name>Assign_Case_Owner_to_Variable</name>
        <label>Assign Case Owner to Variable</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varT_CaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Case_to_OKAPI_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>In order to guide User ID to the Send Case to OKAPI Subflow</description>
        <name>Assign_Running_User_As_Case_Owner_Variable</name>
        <label>Assign Running User As Case Owner Variable</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varT_CaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Case_to_OKAPI_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Case&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_Case</name>
        <label>VarT_FlowElement - Get_Case</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Update_Case&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Update_Case</name>
        <label>VarT_FlowElement - Update_Case</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if the case owner is a queue or a user</description>
        <name>Case_Owner_Is_Queue_Or_User</name>
        <label>Case Owner Is Queue Or User</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_Owner_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Owner:Group.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Queue_Message</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Case Type Field is filled. The field must be filled before we send it to Wocas. Reason for this is reporting in Salesforce. Otherwise the field Type stays empty, because the case is automatically closed in Salesforce (based on Wocas status)</description>
        <name>Decision_CaseTypeFieldFilled</name>
        <label>Case Type Field Filled?</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Case_Owner_Is_Queue_Or_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Type is filled</defaultConnectorLabel>
        <rules>
            <name>Outcome_CaseTypeIsEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type</targetReference>
            </connector>
            <label>Case Type is empty</label>
        </rules>
    </decisions>
    <description>Screen Flow for Button on case page layout to send the case to Wocas via Post Zaken subflow</description>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - Case Handling in Wocas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Case Handling in Wocas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get record of case triggering this screenflow</description>
        <name>Get_Case</name>
        <label>Case</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_CaseTypeFieldFilled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>If the Flow Errors we don&apos;t want to stop half way in the process. The whole process should roll back and run again.</description>
        <name>RollBackRecords</name>
        <label>Roll Back Records</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <description>Update Case record to &apos;In Progress&apos;</description>
        <name>Update_Case</name>
        <label>Case</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Update_Case</targetReference>
        </faultConnector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>User must fill the case type.</description>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_CaseTypeFieldFilled</targetReference>
        </connector>
        <fields>
            <name>Case_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_CaseType</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Case Type is empty. Please fill the Case Type before you send the Case to Wocas. &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Case.Type</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Type_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to show the current user that started the flow to indicate that de case owner is still a queue instead of an assigned user</description>
        <name>Screen_Queue_Message</name>
        <label>Screen Queue Message</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Running_User_As_Case_Owner_Variable</targetReference>
        </connector>
        <fields>
            <name>Screen_Queue_Message_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Queue_Message_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Queue_Message_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_QueueMessage</name>
                    <fieldText>&lt;p&gt;This Case is currently assigned to a queue and not yet to a specific customer contact employee. In order to follow up the Case further in Wocas, the system needs a case owner. As soon as you click on &apos;Next&apos;, a contact moment will be entered in Wocas and you will be marked as &apos;handler&apos;. The Case ownership of the queue will also be transferred to you.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Queue_Message_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SuccessScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SuccessScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_Success</name>
                    <fieldText>&lt;p&gt;This Case has been send to Wocas to be picked up there as a Contact Moment with the corresponding To Do Step.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Follow this To Do Step in Wocas first and then update  the Case in Salesforce to &quot;External&quot;.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SuccessScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Guiding the Screenflow into the AL - Send Case to OKAPI subflow in order to proceed with the case as &apos;Zaak&apos; in Wocas</description>
        <name>Send_Case_to_OKAPI_Subflow</name>
        <label>Send Case to OKAPI Subflow</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Assign_Case</targetReference>
        </connector>
        <flowName>AL_Send_Case_to_OKAPI</flowName>
        <inputAssignments>
            <name>varR_Case</name>
            <value>
                <elementReference>Get_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_CaseOwner</name>
            <value>
                <elementReference>varT_CaseOwner</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Show the generic Screen Flow Error Screen.</description>
        <name>Subflow_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Subflow_ErrorScreen</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Case_Handling_in_Wocas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Variable to assign the ID of current record into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
