force-app/main/default/flows/Screen_Flow_Create_New_Relationship_for_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assignment of the type to a text variable for next subflow</description>
        <name>Assign_Selected_ACR_Relation_Type_To_New_Record_Variable</name>
        <label>Assign Selected ACR Relation Type To New Record Variable</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varT_RelationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACR_Relatietype</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Relation_to_Guide_Flow_to_Correct_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of the type to a text variable for next subflow</description>
        <name>Assign_Selected_Relation_Type_For_BA_To_New_Record_Variable</name>
        <label>Assign Selected Relation Type For BA To New Record Variable</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varT_RelationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relatietype_BA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_BusinessAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Relation_to_Guide_Flow_to_Correct_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of the type to a text variable for next subflow</description>
        <name>Assign_Selected_Relation_Type_To_New_Record_Variable</name>
        <label>Assign Selected Relation Type To New Record Variable</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varT_RelationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relatietype</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Relation_to_Guide_Flow_to_Correct_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Account&apos; if the Element fails.</description>
        <name>Assign_VarT_FlowElementGetAccount</name>
        <label>VarT_FlowElement - Get Account</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Determine if button is triggered on the Business Account or Person Account record in order to assign AccountId or PersonContactIdto variable</description>
        <name>Decision_IsPersonAccount</name>
        <label>Is Person Account?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Screen_Select_Relation_Type_BA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Account</defaultConnectorLabel>
        <rules>
            <name>Outcome_PersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Running_User_Has_Custom_Permission_To_Add_Manage_Special_Relations</targetReference>
            </connector>
            <label>PersonAccount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the running user has the permission to enter special relations data for this Account record</description>
        <name>Running_User_Has_Custom_Permission_To_Add_Manage_Special_Relations</name>
        <label>Running User Has Custom Permission To Add &amp; Manage Special Relations</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>PA_Screen_Select_ACR_Relation_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Has_Custom_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Manage_Special_Relationships</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Select_Relation_Type</targetReference>
            </connector>
            <label>Yes, User Has Custom Permission</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision if selected relation type leads to Relationship__c or AccountContactRelationship object record</description>
        <name>Type_of_Relation_to_Guide_Flow_to_Correct_Subflow</name>
        <label>Type of Relation to Guide Flow to Correct Subflow</label>
        <locationX>380</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Create_New_Special_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Special Relationship</defaultConnectorLabel>
        <rules>
            <name>AccountContactRelationship</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varT_RelationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_RelationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MDW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_AccountContactRelationship</targetReference>
            </connector>
            <label>AccountContactRelationship</label>
        </rules>
    </decisions>
    <description>Screen Flow in order to guide the relation type to the correct subflow for Relationship__c or AccountContactRelationship</description>
    <dynamicChoiceSets>
        <name>Choice_ACRRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role_2__c</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_RelationshipRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Relationship__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - Create New Relationship for Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Create New Relationship for Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get account based on entered recordId</description>
        <name>Get_Account</name>
        <label>Account</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IsPersonAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_VarT_FlowElementGetAccount</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>If the Flow Errors we don&apos;t want to stop half way in the process. The whole process should roll back and run again.</description>
        <name>RollBackRecords</name>
        <label>Roll Back Records</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>PA_Screen_Select_ACR_Relation_Type</name>
        <label>PA Screen Select ACR Relation Type</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_ACR_Relation_Type_To_New_Record_Variable</targetReference>
        </connector>
        <fields>
            <name>PA_Screen_Select_ACR_Relation_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PA_Screen_Select_ACR_Relation_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PA_Screen_Select_ACR_Relation_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ACR_Relatietype</name>
                    <choiceReferences>Choice_ACRRole</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>CPE</stringValue>
                    </defaultValue>
                    <fieldText>Select the type of relationship you want to enter</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PA_Screen_Select_ACR_Relation_Type_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Relation_Type</name>
        <label>PA Screen Select Relation Type</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Relation_Type_To_New_Record_Variable</targetReference>
        </connector>
        <fields>
            <name>Screen_Select_Relation_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Select_Relation_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Select_Relation_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Relatietype</name>
                    <choiceReferences>Choice_ACRRole</choiceReferences>
                    <choiceReferences>Choice_RelationshipRole</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>CPE</stringValue>
                    </defaultValue>
                    <fieldText>Select the type of relationship you want to enter</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Select_Relation_Type_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Relation_Type_BA</name>
        <label>BA Screen Select Relation Type</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Relation_Type_For_BA_To_New_Record_Variable</targetReference>
        </connector>
        <fields>
            <name>Screen_Select_Relation_Type_BA_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Select_Relation_Type_BA_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Select_Relation_Type_BA_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Relatietype_BA</name>
                    <choiceReferences>Choice_ACRRole</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>MDW</stringValue>
                    </defaultValue>
                    <fieldText>Select the type of relationship you want to enter</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Select_Relation_Type_BA_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>380</locationX>
        <locationY>1142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Success_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_SuccessMessage</name>
                    <fieldText>&lt;p&gt;Great work, {!$User.FirstName}! You have successfully created a new account in Salesforce.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Success_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Subflow to create new accountcontactrelationship based on selected relation type</description>
        <name>Create_New_AccountContactRelationship</name>
        <label>Create New AccountContactRelationship</label>
        <locationX>248</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowName>Screen_Flow_Create_New_AccountContactRelationship</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RelationType</name>
            <value>
                <elementReference>varT_RelationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varB_BusinessAccount</name>
            <value>
                <elementReference>varB_BusinessAccount</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflow to create new relationship based on selected relation type</description>
        <name>Create_New_Special_Relationship</name>
        <label>Create New Special Relationship</label>
        <locationX>512</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowName>Screen_Flow_Create_New_Special_Relationship</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RelationType</name>
            <value>
                <elementReference>varT_RelationType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Show the generic Screen Flow Error Screen.</description>
        <name>Subflow_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Subflow_ErrorScreen</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Create_New_Relationship_for_Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varB_BusinessAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_RelationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
