force-app/main/default/flows/Screen_Flow_Create_New_Special_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assignment of recordId to the Subsidiary Relation of this special relationship</description>
        <name>Assign_Account_Record_ID_to_varR_Relationship</name>
        <label>Assign Account Record ID to varR_Relationship</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varR_Relationship.Subsidiary_Relation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Created or Selected Person Account as Primary Relation on New Relationship variable</description>
        <name>Assign_Person_Account_As_Primary_Relation</name>
        <label>Assign Person Account As Primary Relation</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varR_Relationship.Primary_Relation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SelectedPersonAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Relationship_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign necessary values for record variable</description>
        <name>Assign_values_to_new_Account_Contact_Relationship_variable</name>
        <label>Assign Values to new Account Contact Relationship variable</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varR_Relationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_RelationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Relationship.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Relationship.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Error Message to show on the current/existing relationship with possibly same combination between accounts with same start date</description>
        <name>Assignment_Of_Error_Message_In_Case_Of_Duplicate</name>
        <label>Assignment Of Error Message In Case Of Duplicate</label>
        <locationX>490</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varB_DuplicateCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Current_Special_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Account&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_Account</name>
        <label>VarT_FlowElement - Get_Account</label>
        <locationX>754</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Relationships&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_Relationships</name>
        <label>VarT_FlowElement - Get_Relationships</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Relationships</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>In case a new person account needs to be created for this relationship</description>
        <name>Create_New_PersonAccount</name>
        <label>Create New PersonAccount</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_create_new_person_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_SelectedPersonAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_To_Create_New_Account_Record</targetReference>
            </connector>
            <label>Yes, create new person account</label>
        </rules>
    </decisions>
    <decisions>
        <description>To determine if the current special relationships should be showed in a screen</description>
        <name>Existing_Special_Relationships_To_Show</name>
        <label>Existing Special Relationships To Show</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_Search_New_Special_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_show_existing_relationships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ExistingSpecialRelationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Current_Special_Relationships</targetReference>
            </connector>
            <label>Yes, show existing relationships</label>
        </rules>
    </decisions>
    <description>Manage or create a special relationship between Accounts</description>
    <environments>Default</environments>
    <formulas>
        <name>forB_KeywordSearch</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Keyword_Search}) &lt;= 1</expression>
    </formulas>
    <interviewLabel>Screen Flow - Create New Special Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Create New Special Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the new record based on the filled variable</description>
        <name>Create_Relationship</name>
        <label>Relationship</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <faultConnector>
            <targetReference>Assignment_Of_Error_Message_In_Case_Of_Duplicate</targetReference>
        </faultConnector>
        <inputReference>varR_Relationship</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the selected person account record of the subflow or the selected person account in the screen after database search</description>
        <name>Get_Account</name>
        <label>Account</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Person_Account_As_Primary_Relation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_SelectedPersonAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Collecting current special relationship (both active and inactive)</description>
        <name>Get_Relationships</name>
        <label>Relationships</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Special_Relationships_To_Show</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_Relationships</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subsidiary_Relation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Relationship.Subsidiary_Relation__c</elementReference>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputReference>varR_ExistingSpecialRelationships</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Relation__c</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Primary_Relation_Name__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Subsidiary_Relation_Name__c</queriedFields>
        <queriedFields>Subsidiary_Relation__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Primary_Account_Full_Name__c</queriedFields>
        <queriedFields>Subsidiary_Account_Full_Name__c</queriedFields>
    </recordLookups>
    <recordRollbacks>
        <description>If the Flow Errors we don&apos;t want to stop half way in the process. The whole process should roll back and run again.</description>
        <name>RollBackRecords</name>
        <label>Roll Back Records</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen to show the existing special relationship (active and inactive)</description>
        <name>Screen_Current_Special_Relationships</name>
        <label>Screen Current Special Relationships</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Search_New_Special_Relationship</targetReference>
        </connector>
        <fields>
            <name>Screen_Current_Special_Relationships_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Current_Special_Relationships_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Current_Special_Relationships_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_DisplayCheckDuplicates</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;It seems that the combination between the persons has already been made with the same start date. Creating a new relationship is therefore not possible. Check the list below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_DuplicateCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Current_Special_Relationships</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Relationship__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Bestaande Speciale Relaties</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varR_ExistingSpecialRelationships</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Primary_Account_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-e9fe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.PrimaryRelation}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Primary Account Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Primary_Relation_Name__c&quot;,&quot;guid&quot;:&quot;column-2308&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.RoleRelation}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Primary Relation Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Subsidiary_Account_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-fe53&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.SubsidiaryRelation}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Subsidiary Account Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-938d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Active}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Start_Date__c&quot;,&quot;guid&quot;:&quot;column-2282&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.StartDate}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;End_Date__c&quot;,&quot;guid&quot;:&quot;column-1b3a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.EndDate}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Current_Special_Relationships_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to validate input and enter relationship term information</description>
        <name>Screen_Relationship_Information</name>
        <label>Screen Relationship Information</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_values_to_new_Account_Contact_Relationship_variable</targetReference>
        </connector>
        <fields>
            <name>Screen_Relationship_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Relationship_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Relationship_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_Relationship.Primary_Relation__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_Relationship.Subsidiary_Relation__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Relationship_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.StartDate}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>{!$Label.EndDate}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Relationship_Information_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to search for and select a person account to relate with the known person account</description>
        <name>Screen_Search_New_Special_Relationship</name>
        <label>Screen Search New Special Relationship</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <actions>
            <name>AL_Keyword_Search_in_Database</name>
            <actionName>AL_Keyword_Search_in_Database</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>varT_KeywordSearch</name>
                <value>
                    <elementReference>Keyword_Search</elementReference>
                </value>
            </inputParameters>
            <label>AL - Keyword Search in Database</label>
            <nameSegment>AL_Keyword_Search_in_Database</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_PersonAccount</targetReference>
        </connector>
        <fields>
            <name>Screen_Search_New_Special_Relationship_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Search_New_Special_Relationship_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Search_New_Special_Relationship_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Keyword_Search</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Keyword_Search</elementReference>
                    </defaultValue>
                    <fieldText>Keyword Search</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Txt_NoResults</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;No results found.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AL_Keyword_Search_in_Database.Results.varB_NoResultsFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Txt_FoundResults</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Success, there are {!AL_Keyword_Search_in_Database.Results.varN_ContactCount} search results. Please select an account from the list or click &apos;Next&apos; to create a new account.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AL_Keyword_Search_in_Database.Results.varB_NoResultsFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Search_New_Special_Relationship_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SearchAccounts</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search in Database</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>AL_Keyword_Search_in_Database.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>AL_Keyword_Search_in_Database.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>AL_Keyword_Search_in_Database.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>forB_KeywordSearch</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Search_New_Special_Relationship_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Search_New_Special_Relationship_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Search_New_Special_Relationship_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Search_New_Special_Relationship_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ListofSearchResults</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search Results</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AL_Keyword_Search_in_Database.Results.varR_FoundPersonAccounts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6cd5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.PersonAccount}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Initials__pc&quot;,&quot;guid&quot;:&quot;column-8451&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Initials}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Initials&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PersonEmail&quot;,&quot;guid&quot;:&quot;column-c056&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Email}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;PersonBirthdate&quot;,&quot;guid&quot;:&quot;column-0567&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Birthdate}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Birthdate&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Full_Shipping_Street__c&quot;,&quot;guid&quot;:&quot;column-8cd5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.ShipppingStreet}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Full Shipping Street&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Full_Shipping_Postal_Code__c&quot;,&quot;guid&quot;:&quot;column-4a02&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.ShippingPostalCode}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Full Shipping Postal Code&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varR_SelectedPersonAccount</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Search_New_Special_Relationship_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AL_Keyword_Search_in_Database.Results.varB_NoResultsFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>SearchAccounts</eventSource>
            <handlers>
                <screenActionName>AL_Keyword_Search_in_Database</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Account_Record_ID_to_varR_Relationship</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Show the generic Screen Flow Error Screen.</description>
        <name>Subflow_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Subflow_ErrorScreen</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Create_New_Special_Relationship</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflow in order to create a new account record to use for this relationship</description>
        <name>Subflow_To_Create_New_Account_Record</name>
        <label>Subflow To Create New Account Record</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <flowName>Screen_Flow_Create_New_Account</flowName>
        <inputAssignments>
            <name>varB_InputRelationshipFlow</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varB_IsPersonAccount</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_SelectedPersonAccount</assignToReference>
            <name>varR_NewAccount</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_DuplicateCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varR_ExistingSpecialRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>varR_Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>varR_SelectedPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_RelationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
