force-app/main/default/flows/Screen_Flow_Manage_Account_Addresses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Action to generate default naming convention for the address record in order not to have a too long address name in case of long street or city names.</description>
        <name>Apex_GenerateDefaultNamingConventionForAddressRecord</name>
        <label>Generate Default Naming Convention For Address Record</label>
        <locationX>930</locationX>
        <locationY>1640</locationY>
        <actionName>AddressNameInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Address_Unique_Key_To_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Apex_GenerateDefaultNamingConventionForAddressRecord</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>addresses</name>
            <value>
                <elementReference>varR_NewAddress</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AddressNameInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Action to generate unique key in order to check if the address is already stored in the database.</description>
        <name>Apex_GenerateUniqueKeyToAddressVariable</name>
        <label>Generate Unique Key To Address Variable</label>
        <locationX>930</locationX>
        <locationY>1532</locationY>
        <actionName>AddressKeyInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Apex_GenerateDefaultNamingConventionForAddressRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Apex_GenerateUniqueKeyToAddressVariable</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>addresses</name>
            <value>
                <elementReference>varR_NewAddress</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AddressKeyInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varT_AddressUniqueKey</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the address key to a variable</description>
        <name>Assign_Address_Unique_Key_To_Variable</name>
        <label>Assign Address Unique Key To Variable</label>
        <locationX>930</locationX>
        <locationY>1748</locationY>
        <assignmentItems>
            <assignToReference>varR_NewAddress.Unique_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_AddressUniqueKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_AddressesLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of country and type fields to varR_NewAddress variable</description>
        <name>Assign_Country_To_New_Address</name>
        <label>Assign Country To New Address</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varR_NewAddress.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_CountrySelection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAccountAddress.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountAddressType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_PostbusAntwoordnummer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_is_PO_Box_or_Freepost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_NewlyCreatedAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Kind_Of_Address_To_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the found address input</description>
        <name>Assign_Found_Existing_Address_For_Account_Address_Input</name>
        <label>Assign Found Existing Address For Account Address Input</label>
        <locationX>798</locationX>
        <locationY>2180</locationY>
        <assignmentItems>
            <assignToReference>varR_NewAddress.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AddressesLine.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Account_Newly_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to assign the &apos;True&apos; to the boolean in order to show an extra component in the screen with country selection and address type.</description>
        <name>Assign_Value_For_No_Address_Known</name>
        <label>Assign Value For No Address Known</label>
        <locationX>1810</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varB_NoAddressKnown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Country_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the collected values to the Account Address variable</description>
        <name>Assign_Values_To_Account_Address_Variable</name>
        <label>Assign Values To Account Address Variable</label>
        <locationX>930</locationX>
        <locationY>2960</locationY>
        <assignmentItems>
            <assignToReference>varR_NewAccountAddress.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAccountAddress.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_NewAddress.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AccountAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of address information to varR_NewAddress</description>
        <name>Assign_Values_To_New_Address_Variable</name>
        <label>Assign Values To New Address Variable</label>
        <locationX>930</locationX>
        <locationY>1424</locationY>
        <assignmentItems>
            <assignToReference>varR_NewAddress.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_TemporaryAddressName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAccountAddress.Is_Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forB_IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_GenerateUniqueKeyToAddressVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of address information to varR_NewAddress</description>
        <name>Assign_Values_To_New_Address_Variable_for_Postal_Box</name>
        <label>Assign Values To New Address Variable for Postal Box</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varR_NewAddress.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_Code_POBOX_Freepost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAddress.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_POBOX_Freepost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAddress.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_TemporaryAddressName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAddress.Freepost_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Freepost_Number_POBOX_Freepost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAddress.PO_Box_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Box_Number_POBOX_Freepost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAccountAddress.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_POBOX_Freepost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_GenerateUniqueKeyToAddressVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of address information to varR_NewAddress</description>
        <name>Assign_Values_To_New_Foreign_Address_Variable</name>
        <label>Assign Values To New Foreign Address Variable</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varR_NewAddress.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_foreign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAddress.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_TemporaryAddressName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAddress.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Line_1_foreign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAddress.Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Line_2_foreign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAccountAddress.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_foreign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_GenerateUniqueKeyToAddressVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Primary always marked as true for the new account address, and type = &apos;EEN&apos; + Country = &apos;NL&apos;</description>
        <name>Assignment_Of_Standard_Values_For_New_Account_Address</name>
        <label>Assignment Of Standard Values For New Account Address</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varB_IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAccountAddress.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WOO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewAddress.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Account_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Apex_GenerateDefaultNamingConventionForAddressRecord&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Apex_GenerateDefaultNamingConventionForAddressRecord</name>
        <label>VarT_FlowElement - Apex_GenerateDefaultNamingConventionForAddressRecord</label>
        <locationX>2602</locationX>
        <locationY>1748</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apex_GenerateDefaultNamingConventionForAddressRecord</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Apex_GenerateUniqueKeyToAddressVariable&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Apex_GenerateUniqueKeyToAddressVariable</name>
        <label>VarT_FlowElement - Apex_GenerateUniqueKeyToAddressVariable</label>
        <locationX>2866</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apex_GenerateUniqueKeyToAddressVariable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Create_Account&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Create_Account</name>
        <label>VarT_FlowElement - Create_Account</label>
        <locationX>930</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Create_AccountAddress&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Create_AccountAddress</name>
        <label>VarT_FlowElement - Create_AccountAddress</label>
        <locationX>2074</locationX>
        <locationY>3176</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_AccountAddress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Create_AdressLine&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Create_AdressLine</name>
        <label>VarT_FlowElement - Create_AdressLine</label>
        <locationX>1326</locationX>
        <locationY>2180</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_AdressLine</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_AddressLine&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_AddressLine</name>
        <label>VarT_FlowElement - Get_AddressLine</label>
        <locationX>2338</locationX>
        <locationY>1964</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_AddressLine</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Update_AccountAddress&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Update_AccountAddress</name>
        <label>VarT_FlowElement - Update_AccountAddress</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_AccountAddress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBackRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision to determine if a new account address should be created or a selected needs to be changed</description>
        <name>Change_Account_Address_Or_Create_New_Account_Address</name>
        <label>Change Account Address Or Create New Account Address</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_Excluded_Decision_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Excluded Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_selected_Account_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_SelectedAccountAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Selected_Account_Address_Information</targetReference>
            </connector>
            <label>Change selected Account Address</label>
        </rules>
        <rules>
            <name>Create_new_Account_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_want_to_create_a_new_address_for_this_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_Selection</targetReference>
            </connector>
            <label>Create new Account Address</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if account is newly created from previous New Account Screen Flow and - if not - to validate if the existing account already has account addresses. We will use this flow for contract unit address changes later too, therefore the other outcome for contract unit flow later. The &apos;No&apos; specifies that an existing account doesn&apos;t have an address yet.</description>
        <name>Determine_Flow_Path_Based_On_Input_Variables_Values</name>
        <label>Determine Flow Path Based On Input Variables/Values</label>
        <locationX>930</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Value_For_No_Address_Known</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Account/Contract, but Address(es) Not Known</defaultConnectorLabel>
        <rules>
            <name>Newly_Created_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_NewlyCreatedAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Of_Standard_Values_For_New_Account_Address</targetReference>
            </connector>
            <label>Newly Created Account</label>
        </rules>
        <rules>
            <name>Existing_Account_And_Account_Addresses_Are_Known</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_CurrentAccountAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Addresses</targetReference>
            </connector>
            <label>Existing Account &amp; Account Addresses Are Known</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the account in this flow needs to be created first to create the account address afterwards. An update on existing account is not possible to reduce double callouts to Okapi...</description>
        <name>Is_Account_Newly_Created</name>
        <label>Is Account Newly Created?</label>
        <locationX>930</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_To_Account_Address_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Was_Newly_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_NewlyCreatedAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Account Was Newly Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the unique key known?</description>
        <name>Unique_Key_Is_Already_Known</name>
        <label>Unique Key Is Already Known</label>
        <locationX>930</locationX>
        <locationY>1964</locationY>
        <defaultConnector>
            <targetReference>Create_AdressLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Unique_Key_is_already_known</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AddressesLine.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Address_Record_Found</targetReference>
            </connector>
            <label>Yes, Unique Key is already known</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to determine which kind of address information needs to be collected for the Dutch or foreign country address or postal box/freepostalnumber address</description>
        <name>Which_Kind_Of_Address_To_Create</name>
        <label>Which Kind Of Address To Create</label>
        <locationX>1062</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Add_New_Foreign_Account_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Postbus_of_Antwoordnummer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_PostbusAntwoordnummer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Postal_Account_Address</targetReference>
            </connector>
            <label>Postbus of Antwoordnummer</label>
        </rules>
        <rules>
            <name>Country_NL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewAddress.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Account_Address</targetReference>
            </connector>
            <label>Country NL</label>
        </rules>
    </decisions>
    <description>Create and manage account addresses</description>
    <dynamicChoiceSets>
        <name>Choice_AddressTypeEenheidAdres</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Account_Address__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Address__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Province</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Province__c</picklistField>
        <picklistObject>Address__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsPrimary</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varB_NewlyCreatedAccount}=TRUE, TRUE, {!varB_IsPrimary})</expression>
    </formulas>
    <formulas>
        <name>forD_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>forT_Current_BillingAddress</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
            ISBLANK({!varR_Account.BillingPostalCode}),
            ISBLANK({!varR_Account.BillingCity})
            ),
{!$Label.Unknown},
{!varR_Account.BillingStreet} + BR() +
{!varR_Account.BillingPostalCode} + &quot;, &quot; + {!varR_Account.BillingCity} + BR() +
IF(
ISBLANK({!varR_Account.BillingState}),
&quot;&quot;,
{!varR_Account.BillingState} + BR()
) +
{!varR_Account.BillingCountry}
)</expression>
    </formulas>
    <formulas>
        <name>forT_Current_ShippingAddress</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
             ISBLANK({!varR_Account.ShippingPostalCode}),
             ISBLANK({!varR_Account.ShippingCity})
           ),
{!$Label.Unknown},
{!varR_Account.ShippingStreet} + BR() +
{!varR_Account.ShippingPostalCode} + &quot;, &quot; + {!varR_Account.ShippingCity} + BR() +
IF(
ISBLANK({!varR_Account.ShippingState}),
&quot;&quot;,
{!varR_Account.ShippingState} + BR()
) +
{!varR_Account.ShippingCountry}
)</expression>
    </formulas>
    <formulas>
        <name>forT_TemporaryAddressName</name>
        <dataType>String</dataType>
        <expression>&quot;Temporary Name&quot;</expression>
    </formulas>
    <interviewLabel>Screen Flow - Manage Account Addresses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Manage (Account) Addresses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Account record based on entered values in New Business Account or New Person Account flow</description>
        <name>Create_Account</name>
        <label>Account</label>
        <locationX>666</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>Assign_Values_To_Account_Address_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Create_Account</targetReference>
        </faultConnector>
        <inputReference>varR_Account</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create the Account Address</description>
        <name>Create_AccountAddress</name>
        <label>Account Address</label>
        <locationX>930</locationX>
        <locationY>3068</locationY>
        <faultConnector>
            <targetReference>VarT_FlowElement_Create_AccountAddress</targetReference>
        </faultConnector>
        <inputReference>varR_NewAccountAddress</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create the new Address.</description>
        <name>Create_AdressLine</name>
        <label>Address Line</label>
        <locationX>1062</locationX>
        <locationY>2072</locationY>
        <connector>
            <targetReference>Is_Account_Newly_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Create_AdressLine</targetReference>
        </faultConnector>
        <inputReference>varR_NewAddress</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Retrieve the record with the same unique corresponding key</description>
        <name>Get_AddressesLine</name>
        <label>Addresses Line</label>
        <locationX>930</locationX>
        <locationY>1856</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unique_Key_Is_Already_Known</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_AddressLine</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_NewAddress.Unique_Key__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>If the Flow Errors we don&apos;t want to stop half way in the process. The whole process should roll back and run again.</description>
        <name>RollBackRecords</name>
        <label>Roll Back Records</label>
        <locationX>2074</locationX>
        <locationY>3284</locationY>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <description>Update the selected account address based on changed values in screen before.</description>
        <name>Update_AccountAddress</name>
        <label>Account Address</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>VarT_FlowElement_Update_AccountAddress</targetReference>
        </faultConnector>
        <inputReference>varR_SelectedAccountAddress</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Screen to show existing account address information and enter new address information with validation in Kadaster data.</description>
        <name>Add_New_Account_Address</name>
        <label>Add New Account Address</label>
        <locationX>930</locationX>
        <locationY>1316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_To_New_Address_Variable</targetReference>
        </connector>
        <fields>
            <name>Add_New_Account_Address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Account_Address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Account_Address_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text_Current_Shipping_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Current Shipping Address:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!forT_Current_ShippingAddress}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Account_Address_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text_Current_Billing_Address</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Current Billing Address:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!forT_Current_BillingAddress}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Account_Address_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varB_NewlyCreatedAccount</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varB_NoAddressKnown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_New_Account_Address_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Account_Address_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Account_Address_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AddressEntryLWC</name>
                    <extensionName>c:addressEntry</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressRecord</name>
                        <value>
                            <elementReference>varR_NewAddress</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varR_NewAddress</assignToReference>
                        <name>addressRecord</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Account_Address_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_IsPrimary</name>
                    <fieldText>&lt;p&gt;If this address is &apos;primary&apos; it will be shown on the account card.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_NewlyCreatedAccount</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IsPrimaryAddress</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>This address is</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Primary</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Not </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varB_IsPrimary</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varB_IsPrimary</assignToReference>
                        <name>value</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_NewlyCreatedAccount</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>forD_Today</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.StartDate}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invoeren van een startdatum is verplicht.&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(ISBLANK({!Start_Date}))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Account_Address_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to show existing account address information and enter new address information for foreign address</description>
        <name>Add_New_Foreign_Account_Address</name>
        <label>Add New Foreign Account Address</label>
        <locationX>1282</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_To_New_Foreign_Address_Variable</targetReference>
        </connector>
        <fields>
            <name>Add_New_Foreign_Account_Address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Foreign_Account_Address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Foreign_Account_Address_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text_Current_Shipping_Address_foreign</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Current Shipping Address:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!forT_Current_ShippingAddress}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Foreign_Account_Address_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text_Current_Billing_Address_foreign</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Current Billing Address:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!forT_Current_BillingAddress}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Foreign_Account_Address_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varB_NewlyCreatedAccount</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varB_NoAddressKnown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_New_Foreign_Account_Address_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Foreign_Account_Address_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Foreign_Account_Address_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_Line_1_foreign</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;To register the recipients primary street address or delivery location.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_NewAddress.Country__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>NL</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varB_PostbusAntwoordnummer</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Address_Line_2_foreign</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;To register the precise location of the recipients apartment, unit, room, or floor number.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_NewAddress.Country__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>NL</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varB_PostbusAntwoordnummer</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>City_foreign</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Plaatsnaam kan niet langer zijn dan 50 karakters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!City_foreign})&lt; 51</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Foreign_Account_Address_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_IsPrimary_foreign</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;If &apos;primary&apos; then this address will be shown on the relationship card of this account.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_NewlyCreatedAccount</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IsPrimaryAddress_foreign</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>This Address Is</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Primary</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Not Primary</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varB_IsPrimary</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varB_IsPrimary</assignToReference>
                        <name>value</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_NewlyCreatedAccount</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Start_Date_foreign</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.StartDate}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invoeren van een startdatum is verplicht.&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(ISBLANK({!Start_Date_foreign}))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Foreign_Account_Address_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to show existing account address information and enter new address information for POBox/Freepost number</description>
        <name>Add_New_Postal_Account_Address</name>
        <label>Add New Postal Account Address</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_To_New_Address_Variable_for_Postal_Box</targetReference>
        </connector>
        <fields>
            <name>Add_New_Postal_Account_Address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Postal_Account_Address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Postal_Account_Address_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text_Current_Shipping_Address_POBOX_Freepost</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Current Shipping Address:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!forT_Current_ShippingAddress}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Postal_Account_Address_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text_Current_Billing_Address_POBOX_Freepost</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Current Billing Address:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!forT_Current_BillingAddress}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Postal_Account_Address_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varB_NewlyCreatedAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varB_NoAddressKnown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_New_Postal_Account_Address_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Postal_Account_Address_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Postal_Account_Address_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City_POBOX_Freepost</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Plaatsnaam kan niet langer zijn dan 50 karakters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!City_POBOX_Freepost})&lt; 51</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Postal_Code_POBOX_Freepost</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Postcode kan niet langer zijn dan 7 karakaters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Postal_Code_POBOX_Freepost})&lt; 8</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>PO_Box_Number_POBOX_Freepost</name>
                    <dataType>String</dataType>
                    <fieldText>PO Box Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;To register the PO Box Number.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Freepost_Number_POBOX_Freepost</name>
                    <dataType>String</dataType>
                    <fieldText>Freepost Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;To register the Freepost number.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Postal_Account_Address_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_IsPrimary_POBOX_Freepost</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;If &apos;primary&apos; then this address will be shown on the relationship card of this account.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_NewlyCreatedAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IsPrimaryAddress_POBOX_Freepost</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>This address is</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Primary</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Not Primary</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varB_IsPrimary</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varB_IsPrimary</assignToReference>
                        <name>value</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_NewlyCreatedAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Start_Date_POBOX_Freepost</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.StartDate}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invoeren van een startdatum is verplicht.&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(ISBLANK({!Start_Date_POBOX_Freepost}))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Postal_Account_Address_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to change the selected account address information for this account</description>
        <name>Change_Selected_Account_Address_Information</name>
        <label>Change Selected Account Address Information</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_AccountAddress</targetReference>
        </connector>
        <fields>
            <name>Change_Selected_Account_Address_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_Selected_Account_Address_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_Selected_Account_Address_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_SelectedAccountAddress.Address__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_SelectedAccountAddress.Is_Primary__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_Selected_Account_Address_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_SelectedAccountAddress.Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_SelectedAccountAddress.Start_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_SelectedAccountAddress.End_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_Selected_Account_Address_Information_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to select the country and type of address to change</description>
        <name>Country_Selection</name>
        <label>Country Selection</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Country_To_New_Address</targetReference>
        </connector>
        <fields>
            <name>Country_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Country_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Country_Selection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_NoAddressKnown</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;There is currently no address registered for this account or for this unit. Fill in the country of address and type of address and continue the process to manage the address of relation.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_NoAddressKnown</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Picklist_CountrySelection</name>
                    <choiceReferences>Choice_Country</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>NL</stringValue>
                    </defaultValue>
                    <fieldText>Enter the country where the address is located</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Country_Selection_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountAddressType</name>
                    <choiceReferences>Choice_AddressTypeEenheidAdres</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>WOO</stringValue>
                    </defaultValue>
                    <fieldText>Which address do you want to edit on the account?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Address_is_PO_Box_or_Freepost</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>This concerns a PO Box or Freepost Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Country_Selection_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Show current address information of the existing account with option to select account address to change or add an address</description>
        <name>Display_Addresses</name>
        <label>Display Addresses</label>
        <locationX>930</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Account_Address_Or_Create_New_Account_Address</targetReference>
        </connector>
        <fields>
            <name>Display_Addresses_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Addresses_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Addresses_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_CurrentShippingAddress</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Current Shipping Address:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!forT_Current_ShippingAddress}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Addresses_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_CurrentBillingAddress</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Current Billing Address:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!forT_Current_BillingAddress}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Addresses_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Display_Addresses_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Addresses_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Addresses_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_want_to_create_a_new_address_for_this_Account</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I want to create a new address for this account</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AccountAddresses</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account_Address__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Address History</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varR_CurrentAccountAddresses</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Full_Address__c&quot;,&quot;guid&quot;:&quot;column-a6d7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Address}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Address&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-3944&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Is_Primary__c&quot;,&quot;guid&quot;:&quot;column-2e28&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Primary}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Is Primary&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Start_Date__c&quot;,&quot;guid&quot;:&quot;column-b80b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.StartDate}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;End_Date__c&quot;,&quot;guid&quot;:&quot;column-51d2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.EndDate}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-ab50&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Active}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varR_SelectedAccountAddress</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>I_want_to_create_a_new_address_for_this_Account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Addresses_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Determine use of current address</description>
        <name>Existing_Address_Record_Found</name>
        <label>Existing Address Record Found</label>
        <locationX>798</locationX>
        <locationY>2072</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>No, change address</backButtonLabel>
        <connector>
            <targetReference>Assign_Found_Existing_Address_For_Account_Address_Input</targetReference>
        </connector>
        <fields>
            <name>Existing_Address_Record_Found_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Address_Record_Found_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Address_Record_Found_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_AddressesLine.Name</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_AddressesLine.Postal_Code__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_AddressesLine.City__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_AddressesLine.Country__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Address_Record_Found_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_AddressesLine.Street__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_AddressesLine.House_Number__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_AddressesLine.House_Number_Addition__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_AddressesLine.House_Letter__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Address_Record_Found_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Existing_Address_Record_Found_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Address_Record_Found_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Address_Record_Found_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_AddressesLine.PO_Box_Number__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Address_Record_Found_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_AddressesLine.Freepost_number__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Address_Record_Found_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Address_is_PO_Box_or_Freepost</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Yes, use this address</nextOrFinishButtonLabel>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Unless an impossible decision outcome based on the exclusion in the criteria entry and required status in the datatable, a screen to show that the process will stop</description>
        <name>Screen_Excluded_Decision_Outcome</name>
        <label>Screen Excluded Decision Outcome</label>
        <locationX>1546</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_Excluded_Decision_Outcome_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Excluded_Decision_Outcome_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Excluded_Decision_Outcome_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Txt_StoppingFlow</name>
                    <fieldText>&lt;p&gt;This outcome cannot occur in a normal process. This means that selecting one of the addresses or the wish to create a new address did not succeed in the previous screen. Go back and try again.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Excluded_Decision_Outcome_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Stop</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Flow_Path_Based_On_Input_Variables_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Show the generic Screen Flow Error Screen.</description>
        <name>Subflow_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>2074</locationX>
        <locationY>3500</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>2074</locationX>
        <locationY>3392</locationY>
        <connector>
            <targetReference>Subflow_ErrorScreen</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Manage_Account_Addresses</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_IsPrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_NewlyCreatedAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_NoAddressKnown</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_PostbusAntwoordnummer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varR_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_CurrentAccountAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Address__c</objectType>
    </variables>
    <variables>
        <name>varR_NewAccountAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Address__c</objectType>
    </variables>
    <variables>
        <name>varR_NewAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>varR_SelectedAccountAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Address__c</objectType>
    </variables>
    <variables>
        <name>varT_AddressUniqueKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
