force-app/main/default/flows/Screen_Flow_Knowledge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Assign the approver and decision to use in the process</description>
        <name>Assign_User_And_Decision</name>
        <label>User and Decision</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>approvalUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Approval_Decision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovalDecisionComments</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <description>Approve the request</description>
        <name>ApproveChoice</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <description>Reject the request</description>
        <name>RejectChoice</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <description>Evaluate advanced approval requests to approve or deny them while optionally leaving comments.</description>
    <environments>Default</environments>
    <formulas>
        <name>FOR_Approval_Decision</name>
        <dataType>String</dataType>
        <expression>CASE(
{!ApprovalButtons.selectedChoice},
&quot;Goedkeuring&quot;, &quot;Approve&quot;,
&quot;Afwijzing&quot;, &quot;Reject&quot;,
&quot;UNDEFINED&quot;
)</expression>
    </formulas>
    <interviewLabel>Screen Flow - Knowledge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Evaluate Knowledge Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the associated Knowledge article</description>
        <name>Get_Knowledge_Article</name>
        <label>Get Knowledge Article</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenEvaluateApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Allows the flow user to approve or reject an approval request, and add comments to the decision.</description>
        <name>ScreenEvaluateApproval</name>
        <label>Evaluate Approval Request</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_User_And_Decision</targetReference>
        </connector>
        <fields>
            <name>ScreenEvaluateApproval_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenEvaluateApproval_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApprovalComment</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 33, 91); font-size: 20px;&quot;&gt;Toelichting van kennisteammedewerker&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 33, 91); font-size: 14px;&quot;&gt;{!Get_Knowledge_Article.Approval_Comment__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ScreenEvaluateApproval_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenEvaluateApproval_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApprovalButtons</name>
                    <extensionName>c:woonstadFlowChoiceButtons</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>availableChoices</name>
                        <value>
                            <stringValue>Goedkeuring, Afwijzing</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>align</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>autoNext</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ScreenEvaluateApproval_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenEvaluateApproval_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ScreenEvaluateApproval_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenEvaluateApproval_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApprovalDecisionComments</name>
                    <fieldText>&lt;div style=&quot;color:#00215b;font-size:14px;&quot;&gt;Toelichting&lt;/div&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 16, 16);&quot;&gt;De ingevoerde tekst is te lang.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!ApprovalDecisionComments}) &lt;= 32000</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ApprovalButtons.selectedChoice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Afwijzing</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FlowButtons</name>
                    <extensionName>c:woonstadFlowNavigationButtons</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>showNext</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Bevestigen</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenEvaluateApproval_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Knowledge_Article</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ApprovalDecisionComments</elementReference>
        </value>
    </variables>
    <variables>
        <name>approvalDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>NOTE: Due to a bug in the Approval Orchestration this variable must be named approvalComments to be able to deliver output to the rest of the Orchestration</description>
        <name>approvalUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Username</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
