force-app/main/default/flows/Screen_Flow_Create_Update_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assignment to copy case information to the request variable</description>
        <name>Assign_Request_Case_Values_To_Request_Variable</name>
        <label>Assign Request Case Values To Request Variable</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varR_Request.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_Associated_With_Request.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_Associated_With_Request.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.Request_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_Associated_With_Request.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Request.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_Associated_With_Request.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Request</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - Create/Update Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Create/Update Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the new request with assigned values to record variable</description>
        <name>Create_New_Request</name>
        <label>Create New Request</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Request_Lookup_On_Associated_Case</targetReference>
        </connector>
        <inputReference>varR_Request</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Account record in order to show current shipping address information for supplier selection</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Request_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record_Associated_With_Request.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case information to use for this request record</description>
        <name>Get_Case_Record_Associated_With_Request</name>
        <label>Get Case Record Associated With Request</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update on associated case is needed in order to show the lookup to the Request on the case</description>
        <name>Update_Request_Lookup_On_Associated_Case</name>
        <label>Update Request Lookup On Associated Case</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Request.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>varR_Request.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Request_Information</name>
        <label>New Request Information</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Request_Case_Values_To_Request_Variable</targetReference>
        </connector>
        <fields>
            <name>New_Request_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Request_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Request_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_Request.Name_Plate_Text__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Txt_AddressVisibility</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 118, 211);&quot;&gt;Actieve woonadres van aanvrager.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(1, 118, 211);&quot;&gt;{!Get_Case_Record_Associated_With_Request.Account.Full_Shipping_Street__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(1, 118, 211);&quot;&gt;{!Get_Case_Record_Associated_With_Request.Account.Full_Shipping_Postal_Code__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(1, 118, 211);&quot;&gt;{!Get_Case_Record_Associated_With_Request.Account.Full_Shipping_City__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); background-color: rgb(255, 255, 255);&quot;&gt;﻿Controleer of de aanvraag ook voor dit adres geldt.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Request_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_Request.Supplier__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Txt_SupplierSelection</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 118, 211);&quot;&gt;Op basis van het adres bepaal je de leverancier om deze aanvraag op te pakken.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(1, 118, 211);&quot;&gt;Beheerorganisatie &quot;Noord/Oost&quot;: Keller Groothandel&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(1, 118, 211);&quot;&gt;Beheerorganisatie &quot;Zuid&quot;: Het Zuider Sleutelhuis.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(1, 118, 211);&quot;&gt;Beheerorganisatie &quot;Centrum/West&quot;: Ijzerhandel Overschie.&lt;/strong&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(1, 118, 211);&quot;&gt;&lt;u&gt;LET OP:&lt;/u&gt; aanvragen voor &quot;Centrum/West&quot; voor specifiek complex &lt;u&gt;23109&lt;/u&gt; gaan naar Weijntjes.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Request_Information_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record_Associated_With_Request.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Name Plate</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record_Associated_With_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varR_Request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Request__c</objectType>
    </variables>
</Flow>
