force-app/main/default/flows/Screen_Flow_Display_Account_Indications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set the BWI variable to &quot;true&quot;.</description>
        <name>Set_BWI_To_True</name>
        <label>Set BWI To True</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>varB_OnderBewind</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_CUR_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the call ban variable to &quot;true&quot;.</description>
        <name>Set_Call_Ban_To_True</name>
        <label>Set Call Ban To True</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varB_Belverbod</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Visiting_Bans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the CUR variable to &quot;true&quot;.</description>
        <name>Set_CUR_To_True</name>
        <label>Set CUR To True</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>varB_OnderCuratele</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Indications_and_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the visiting ban variable to &quot;true&quot;.</description>
        <name>Set_Visiting_Ban_To_True</name>
        <label>Set Visiting Ban To True</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varB_Bezoekverbod</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Visiting_With_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the visiting with 2 indication variable to &quot;true&quot;.</description>
        <name>Set_Visiting_With_2_Indication_To_True</name>
        <label>Set Visiting With 2 Indication To True</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>varB_BezoekMetTwee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the writing ban variable to &quot;true&quot;.</description>
        <name>Set_Writing_Ban_To_True</name>
        <label>Set Writing Ban To True</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varB_Schrijfverbod</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Call_Bans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Indications&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_Indications</name>
        <label>VarT_FlowElement - Get_Indications</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Indications</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fill the VarT_FlowElement with &apos;Get_Relationships&apos; if the Element fails.</description>
        <name>VarT_FlowElement_Get_Relationships</name>
        <label>VarT_FlowElement - Get_Relationships</label>
        <locationX>490</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>VarT_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Relationships</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_PublishFlowFaultEvent</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Are there any active BWI (onder bewind) Relationships for this Account?</description>
        <name>Active_BWI_Relationships</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Active BWI Relationships</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <assignNextValueToReference>currentItem_Active_BWI_Relationships</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Relationships</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Active_BWI_Relationships.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>BWI</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Active_BWI_Relationships.Active__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Determine_If_There_Are_Any_BWI_Relationships</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Determine if there are any active call bans for this Account</description>
        <name>Active_Call_Bans</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Active Call Bans</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNextValueToReference>currentItem_Active_Visiting_With_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Indications</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Active_Visiting_With_2.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Belverbod</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Active_Visiting_With_2.Is_Active__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Determine_If_There_Are_Any_Call_Bans</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Are there any active CUR (onder curatele) Relationships for this Account?</description>
        <name>Active_CUR_Relationships</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Active CUR Relationships</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <assignNextValueToReference>currentItem_Active_CUR_Relationships</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Relationships</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Active_CUR_Relationships.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>CUR</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Active_CUR_Relationships.Active__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Determine_If_There_Are_Any_CUR_Relationships</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Determine if there are any active visiting bans for this Account</description>
        <name>Active_Visiting_Bans</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Active Visiting Bans</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNextValueToReference>currentItem_Active_Visiting_With_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Indications</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Active_Visiting_With_2.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Kantoorverbod</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Active_Visiting_With_2.Is_Active__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Determine_If_There_Are_Any_Visiting_Bans</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Determine if there are any active visiting with 2 indication for this Account</description>
        <name>Active_Visiting_With_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Active Visiting With 2</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <assignNextValueToReference>currentItem_Active_Visiting_With_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Indications</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Active_Visiting_With_2.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Bezoek met 2</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Active_Visiting_With_2.Is_Active__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Determine_If_There_Are_Any_Visiting_With_2_Indications</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Determine if there are any active writing bans for this Account</description>
        <name>Active_Writing_Bans</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Active Writing Bans</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Active_Visiting_With_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Indications</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Active_Visiting_With_2.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Schrijfverbod</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Active_Visiting_With_2.Is_Active__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Determine_If_There_Are_Any_Writing_Bans</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Determine if there are any active BWI Relationships for this Account.</description>
        <name>Determine_If_There_Are_Any_BWI_Relationships</name>
        <label>Determine If There Are Any BWI Relationships</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Active_CUR_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No BWI Relationships</defaultConnectorLabel>
        <rules>
            <name>There_Are_BWI_Relationships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_BWI_Relationships</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BWI_To_True</targetReference>
            </connector>
            <label>There Are BWI Relationships</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if there are any active call bans for this Account.</description>
        <name>Determine_If_There_Are_Any_Call_Bans</name>
        <label>Determine If There Are Any Call Bans</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Active_Visiting_Bans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Call Bans</defaultConnectorLabel>
        <rules>
            <name>There_Are_Call_Bans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Call_Bans</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Call_Ban_To_True</targetReference>
            </connector>
            <label>There Are Call Bans</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if there are any active CUR Relationships for this Account.</description>
        <name>Determine_If_There_Are_Any_CUR_Relationships</name>
        <label>Determine If There Are Any CUR Relationships</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Show_Indications_and_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CUR Relationships</defaultConnectorLabel>
        <rules>
            <name>There_Are_CUR_Relationships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_CUR_Relationships</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CUR_To_True</targetReference>
            </connector>
            <label>There Are CUR Relationships</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if there are any active visiting bans for this Account.</description>
        <name>Determine_If_There_Are_Any_Visiting_Bans</name>
        <label>Determine If There Are Any Visiting Bans</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Active_Visiting_With_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Visiting Bans</defaultConnectorLabel>
        <rules>
            <name>There_Are_Visiting_Bans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Visiting_Bans</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Visiting_Ban_To_True</targetReference>
            </connector>
            <label>There Are Visiting Bans</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if there are any active visiting with 2 indications for this Account.</description>
        <name>Determine_If_There_Are_Any_Visiting_With_2_Indications</name>
        <label>Determine If There Are Any Visiting With 2 Indications</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Get_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Visiting With 2 Indications</defaultConnectorLabel>
        <rules>
            <name>There_Are_Visiting_With_2_Indications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Visiting_With_2</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Visiting_With_2_Indication_To_True</targetReference>
            </connector>
            <label>There Are Visiting With 2 Indications</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if there are any active writing bans for this Account.</description>
        <name>Determine_If_There_Are_Any_Writing_Bans</name>
        <label>Determine If There Are Any Writing Bans</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Active_Call_Bans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Writing Bans</defaultConnectorLabel>
        <rules>
            <name>There_Are_Writing_Bans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Writing_Bans</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Writing_Ban_To_True</targetReference>
            </connector>
            <label>There Are Writing Bans</label>
        </rules>
    </decisions>
    <description>Display the Account Indications and BWI/CUR Relationships that are currently active.</description>
    <environments>Default</environments>
    <formulas>
        <description>If the variable set in the flow equals true, the static resource is shown. This can only be done in a formula. The rendering is done in the Display Text component.</description>
        <name>forT_BelverbodImage</name>
        <dataType>String</dataType>
        <expression>IF({!varB_Belverbod},
    &apos;&lt;img src=&quot;/resource/Belverbod&quot; alt=&quot;Belverbod&quot; style=&quot;width: 25px; height: 25px;&quot; /&gt;&apos;,
    &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <description>If the variable set in the flow equals true, the static resource is shown. This can only be done in a formula. The rendering is done in the Display Text component.</description>
        <name>forT_BezoekMetTweeImage</name>
        <dataType>String</dataType>
        <expression>IF({!varB_BezoekMetTwee},
    &apos;&lt;img src=&quot;/resource/BezoekMetTwee&quot; alt=&quot;BezoekMetTwee&quot; style=&quot;width: 25px; height: 25px;&quot; /&gt;&apos;,
    &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <description>If the variable set in the flow equals true, the static resource is shown. This can only be done in a formula. The rendering is done in the Display Text component.</description>
        <name>forT_BezoekverbodImage</name>
        <dataType>String</dataType>
        <expression>IF({!varB_Bezoekverbod},
    &apos;&lt;img src=&quot;/resource/Bezoekverbod&quot; alt=&quot;Bezoekverbod&quot; style=&quot;width: 25px; height: 25px;&quot; /&gt;&apos;,
    &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <description>The indications image for the screen flow</description>
        <name>forT_Indications</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;img src=&quot;/resource/Indication&quot; alt=&quot;Indicatie&quot; style=&quot;width: 25px; height: 25px;&quot; /&gt;&apos;</expression>
    </formulas>
    <formulas>
        <description>If the variable set in the flow equals true, the static resource is shown. This can only be done in a formula. The rendering is done in the Display Text component.</description>
        <name>forT_SchrijfverbodImage</name>
        <dataType>String</dataType>
        <expression>IF({!varB_Schrijfverbod},
    &apos;&lt;img src=&quot;/resource/Schrijfverbod&quot; alt=&quot;Schrijfverbod&quot; style=&quot;width: 25px; height: 25px;&quot; /&gt;&apos;,
    &apos;&apos;
)</expression>
    </formulas>
    <interviewLabel>Screen Flow - Display Account Indications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Display Account Indications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieve all Indications of the Account, regardless of they are active or not.</description>
        <name>Get_Indications</name>
        <label>Indications</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Writing_Bans</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_Indications</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Indication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve all Relationships where the Account is the subsidiary relation and type is either BWI or CUR. The inactive Relationships get filtered out but can still be displayed in the detail data table.</description>
        <name>Get_Relationships</name>
        <label>Relationships</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_BWI_Relationships</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VarT_FlowElement_Get_Relationships</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Subsidiary_Relation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BWI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CUR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Show all active and inactive Indications and Relationships</description>
        <name>Indication_And_Relationship_Detail_Screen</name>
        <label>Indication And Relationship Detail Screen</label>
        <locationX>182</locationX>
        <locationY>2906</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back To Overview</backButtonLabel>
        <fields>
            <name>DisplayIndicatorTitle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: verdana; font-size: 18px; color: rgb(12, 34, 74);&quot;&gt;Indication Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayIndicators</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Indication__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Display Indicators</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Indications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-8102&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Date__c&quot;,&quot;guid&quot;:&quot;column-53dd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.StartDate}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;End_Date__c&quot;,&quot;guid&quot;:&quot;column-28aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.EndDate}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Is_Active__c&quot;,&quot;guid&quot;:&quot;column-52f6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Active}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Is Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayRelationshipTitle</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana; font-size: 18px; color: rgb(12, 34, 74);&quot;&gt;Relationship Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayRelationships</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Relationship__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Display Relationships</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Relationships</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Primary_Account_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-4f63&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.AdministratorOrCurator}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Primary Account Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-9a57&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Date__c&quot;,&quot;guid&quot;:&quot;column-6f2e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.StartDate}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;End_Date__c&quot;,&quot;guid&quot;:&quot;column-294a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.EndDate}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-37a5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Active}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Main screen to display the Indications and Relationships</description>
        <name>Show_Indications_and_Relationships</name>
        <label>Show Indications and Relationships</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Indication_And_Relationship_Detail_Screen</targetReference>
        </connector>
        <fields>
            <name>Bijzonderheden</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: verdana; color: rgb(12, 34, 74); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); font-size: 18px;&quot;&gt;{!forT_Indications}  Indications&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Show_Indications_and_Relationships_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Indications_and_Relationships_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Melding</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(12, 34, 74);&quot;&gt;Indication:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Indications_and_Relationships_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoIndications</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(12, 34, 74);&quot;&gt;None&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_Schrijfverbod</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varB_Belverbod</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varB_Bezoekverbod</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varB_BezoekMetTwee</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DisplayIndications</name>
                    <fieldText>&lt;p&gt;{!forT_SchrijfverbodImage}{!forT_BelverbodImage}{!forT_BezoekverbodImage}{!forT_BezoekMetTweeImage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Show_Indications_and_Relationships_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Indications_and_Relationships_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnderBewindValue</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(12, 34, 74);&quot;&gt;Under administration:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Indications_and_Relationships_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnderBewindYes</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(12, 34, 74);&quot;&gt;Yes&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_OnderBewind</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OnderBewindNo</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(12, 34, 74);&quot;&gt;No&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_OnderBewind</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Show_Indications_and_Relationships_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Indications_and_Relationships_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnderCurateleValue</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(12, 34, 74);&quot;&gt;Under guardianship:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Indications_and_Relationships_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnderCurateleYes</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(12, 34, 74);&quot;&gt;Yes&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_OnderCuratele</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OnderCurateleNo</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(12, 34, 74);&quot;&gt;No&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_OnderCuratele</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>View Details</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Indications</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Show the generic Screen Flow Error Screen.</description>
        <name>Subflow_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Subflow_PublishFlowFaultEvent</name>
        <label>Publish Flow Fault Event</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Subflow_ErrorScreen</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Display_Account_Indications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>VarT_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Active_BWI_Relationships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Active_CUR_Relationships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Active_Visiting_With_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Indication__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_Belverbod</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_BezoekMetTwee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_Bezoekverbod</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_OnderBewind</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_OnderCuratele</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_Schrijfverbod</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This variable is used to store the Flow Element name if a flow errors.</description>
        <name>VarT_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
