force-app/main/default/flows/Screen_Flow_Request_Contract_Unit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls the API</description>
        <name>Fetch_Contract_Unit</name>
        <label>Fetch Contract Unit</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>FetchEenhedenInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Succeeded</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Element_Fetch_Contract_Unit</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>External_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idAdministratie</name>
            <value>
                <elementReference>Administration</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FetchEenhedenInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Fill the var_Flow_Element with &apos;Fetch_Contract_Unit&apos; if the Element fails.</description>
        <name>Flow_Element_Fetch_Contract_Unit</name>
        <label>Flow Element - Fetch Contract Unit</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_FlowElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fetch_Contract_Unit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Flow_Fault_event</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Requests persoon from WOCAS</description>
        <name>WOCAS</name>
        <choiceText>Wocas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WOCAS</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Did the callout return a success (202)?</description>
        <name>Succeeded</name>
        <label>Succeeded</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_Flow_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Returned_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Contract_Unit.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success</targetReference>
            </connector>
            <label>Returned Success</label>
        </rules>
    </decisions>
    <description>Requests OKAPI to send the contract unit to Salesforce</description>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - Request Contract Unit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Request Contract Unit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Allows user to request a contract unit from external system.</description>
        <name>Request_Contract_Unit</name>
        <label>Request Contract Unit</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fetch_Contract_Unit</targetReference>
        </connector>
        <fields>
            <name>External_Id</name>
            <dataType>String</dataType>
            <fieldText>External Id</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;An External Id must consist of 11 numeric characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!External_Id},&quot;^\\d{11}?$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Administration</name>
            <choiceReferences>WOCAS</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>WOCAS</defaultSelectedChoiceReference>
            <fieldText>Administration</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message_Display_Text</name>
            <fieldText>&lt;p&gt;The request has been successfully received by OKAPI. Search Salesforce for the external ID. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It may take up to 5 minutes for the contract unit to appear in Salesforce search results.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Request_Contract_Unit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Publish the Flow Fault Platform Event.</description>
        <name>Publish_Flow_Fault_event</name>
        <label>Publish Flow Fault event</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Flow_Error_Screen</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Request_Contract_Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <elementReference>var_FlowElement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Show the generic Screen Flow Error Screen</description>
        <name>Screen_Flow_Error_Screen</name>
        <label>Screen Flow - Error Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_FlowElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
