force-app/main/default/flows/Screen_Flow_Create_Update_New_Case_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Accountid</name>
        <label>Assign Accountid</label>
        <locationX>873</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>var_Accountid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR_Account_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recordID</name>
        <label>Assign recordID</label>
        <locationX>625</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>var_Accountid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR_Account_Choice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Based on the Get record performed earlier we determine if the id stored in the recordId is an Account or Case or came from another object</description>
        <name>Is_Get_Records_Null</name>
        <label>Is Get Records Null?</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recordID</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accountid</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Other_object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Other object</label>
        </rules>
    </decisions>
    <decisions>
        <description>Based on the coice there has been made we will choose the right path to determine the Case Type</description>
        <name>Which_Choice_has_been_Made</name>
        <label>Which Choice has been Made?</label>
        <locationX>430</locationX>
        <locationY>608</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Informatie_vraag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCR_Account_Choice_Button.selectedChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informatie vraag</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Create_a_new_Case_or_log_a_call</targetReference>
            </connector>
            <label>Informatie vraag</label>
        </rules>
        <rules>
            <name>Naamplaatje_aanvragen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCR_Account_Choice_Button.selectedChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Naamplaatje aanvragen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Create_Name_Plate</targetReference>
            </connector>
            <label>Naamplaatje aanvragen</label>
        </rules>
    </decisions>
    <description>This is a screen flow to create / update new cases based on either an old case or from the account page</description>
    <dynamicChoiceSets>
        <description>variable to store the values of the picklist for the CaseOrigin</description>
        <name>var_PL_CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>This is a variable formula to capture the start time of the flow to calculate the minutes later in the flow</description>
        <name>flowStartTime</name>
        <dataType>String</dataType>
        <expression>TEXT($Flow.CurrentDateTime)</expression>
    </formulas>
    <interviewLabel>Screen Flow - Create/Update New Case V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Create/Update New Case V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the Account Record based on the recordId variable</description>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>842</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Account_Faulth_Path</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This is to get a case record based on the recorId variable</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>842</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Get_Records_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Case_Faulth_Path</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>In this screen the user makes a Choice if he handles a Question or an Inquiry</description>
        <name>SCR_Account_Choice</name>
        <label>SCR_Account_Choice</label>
        <locationX>314</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Choice_has_been_Made</targetReference>
        </connector>
        <fields>
            <name>SCR_Account_Choice_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR_Account_Choice_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCR_Account_Choice_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR_Account_Choice_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR_Account_Choice_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCR_Account_Choice_Header</name>
                    <extensionName>c:woonstadFlowHeaderStyling</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR_Account_Choice_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCR_Account_Choice_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR_Account_Choice_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR_Account_Choice_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCR_Account_Choice_Button</name>
                    <extensionName>c:woonstadFlowChoiceButtons</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>availableChoices</name>
                        <value>
                            <stringValue>Informatie vraag, Naamplaatje aanvragen</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>autoNext</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR_Account_Choice_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCR_Account_Choice_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR_Account_Choice_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>the error screen for the get account</description>
        <name>Get_Account_Error_Screen</name>
        <label>Get Account Error Screen</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>the faulth path for the get Account</description>
        <name>Get_Account_Faulth_Path</name>
        <label>Get Account Faulth Path</label>
        <locationX>1898</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Get_Account_Error_Screen</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Create_Update_New_Case_V2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <stringValue>Get_Account_Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>faulth path for get Case</description>
        <name>Get_Case_Faulth_Path</name>
        <label>Get Case Faulth Path</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Case_Record_Error_Screen</targetReference>
        </connector>
        <flowName>AL_Publish_Flow_Fault_event</flowName>
        <inputAssignments>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowContext</name>
            <value>
                <stringValue>Screen_Flow_Create_Update_New_Case_V2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowElement</name>
            <value>
                <stringValue>Get_Case_Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>the get case record error screen</description>
        <name>Get_Case_Record_Error_Screen</name>
        <label>Get Case Record Error Screen</label>
        <locationX>1634</locationX>
        <locationY>506</locationY>
        <flowName>Screen_Flow_Error_Screen</flowName>
        <inputAssignments>
            <name>var_FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflow to either create a new case or log a call.</description>
        <name>Subflow_Create_a_new_Case_or_log_a_call</name>
        <label>Subflow Create a new Case or log a call</label>
        <locationX>314</locationX>
        <locationY>722</locationY>
        <flowName>Screen_Flow_KC_Create_Update_Case</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>var_Accountid</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>To launch the  Name Plate Proces</description>
        <name>Subflow_Create_Name_Plate</name>
        <label>Subflow Create Name Plate</label>
        <locationX>50</locationX>
        <locationY>722</locationY>
        <flowName>Screen_Flow_Create_Name_Plate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>var_Accountid</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <description>The style varible for the header at account Choice</description>
        <name>var_Header_Account_Choice_CSS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;div style=&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;position: absolute;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;width: 364px;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;height: 28px;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;left: 532px;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;top: 432px;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;font-family: &apos;Arboria&apos;, sans-serif;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;font-style: normal;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;font-weight: 700;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;font-size: 24px;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;line-height: 28px;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;display: flex;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;align-items: center;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;color: #00215B;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;Wat voor zaak wil je aanmaken?&lt;/p&gt;&lt;p&gt;&amp;lt;/div&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>this is the json to put the steps of the path in</description>
        <name>var_Path_Account_Json</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
    { &quot;number&quot;: 1, &quot;label&quot;: &quot;Vul de Gegevens in&quot;, &quot;tooltip&quot;: &quot;Vul de gegevens voor het verzoek van het naamplaatje in &quot; },
    { &quot;number&quot;: 2, &quot;label&quot;: &quot;Samenvatting&quot;, &quot;tooltip&quot;: &quot;Controleer de gegevens die ingevuld zijn voordat je op bevestigen klikt&quot; }
]</text>
    </textTemplates>
    <variables>
        <description>This is the variable to store the recordId of the object from the record page where this flow is being triggered</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>this is a variable to input the customer name from the supplier LWC</description>
        <name>var_CustomerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A Variable to track extra information for the Supplier</description>
        <name>var_ExtraInfoForSupplier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>a variable for the choice Inquiry</description>
        <name>var_Inquiry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the variable to store the definitive Name Plate Text</description>
        <name>var_NamePlate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>to check if the nameplate input is valid</description>
        <name>var_NameplateInvalid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>an variable for the extra information</description>
        <name>var_prefillextrainfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>to prefill the name plate</description>
        <name>var_prefillnameplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>an variable to prefill the reason</description>
        <name>var_prefillreason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>variable to prefill the supplier</description>
        <name>var_prefillsupplier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>variable to store the value for the choice Question</description>
        <name>var_Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A variable to track the reason of the request</description>
        <name>var_ReasonRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A variable to input the selected case type from the LWC</description>
        <name>var_SelectedCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is a variable to store the value of the supplier name from the Supplier LWC</description>
        <name>var_Supplier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>this a variable that stores the email adres from the supplier in the name plaatjes proces</description>
        <name>var_SupplierEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
