force-app/main/default/flows/STF_Determine_Account_Type_And_Label.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Automatically fill the Account Type and Label</description>
    <environments>Default</environments>
    <interviewLabel>STF - Determine Account Type And Label {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STF - Determine Account Type And Label</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Account_Type</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Account_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Label__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Account without contract</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-07-10</startDate>
            <startTime>13:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Fill Account Label based on Contract Role</description>
        <name>Determine_Account_Label</name>
        <label>Determine Account Label</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <flowName>AL_Determine_Account_Label_Based_On_Contract_Role</flowName>
        <inputAssignments>
            <name>varT_AccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Fill Account Type based on Contract Role</description>
        <name>Determine_Account_Type</name>
        <label>Determine Account Type</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Determine_Account_Label</targetReference>
        </connector>
        <flowName>AL_Determine_Account_Type_Based_On_Contract_Role</flowName>
        <inputAssignments>
            <name>varT_AccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
